    <div class="row"  >
        <div class="col-md-2" style="margin-top:0px">

            <div>
                <div><button class="btn btn-info" ng-click="selectRecipes('breakfast')" style="width: 150px;" >Dej - Goûter</button></div>
                <br>
                <div><button class="btn btn-info" ng-click="selectRecipes('starter')" style="width: 150px;">Entrees</button></div>
                <br>
                <div><button class="btn btn-info" ng-click="selectRecipes('course')" style="width: 150px;">Plats</button></div>
                <br>
                <div><button class="btn btn-info" ng-click="selectRecipes('dessert')" style="width: 150px;">Desserts</button></div>
                <br>
            </div>

        </div>
        <div class="col-md-10">

            <div  class="panel panel-default" >
                <div class="panel-heading" >
                    <div class="row" style="color:darkslategrey" >
                        <h3 class="col-md-4 panel-title">
                            {{displayRecipeType()}}
                        </h3>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4" style="font-size:15px">
                            <span   class="glyphicon glyphicon-search " ></span>
                            &nbsp
                            <input  type="text" ng-model="searchRecipe" placeholder="plat ou ingredient" style="border:none; ">
                        </div>
                    </div>

                </div>

                <div class="panel-body main-panel">

                    <div ng-show="showHelp" style="font-size: 18px; color:cornflowerblue">
                        <div style="font-size: 12px;">@ le mode accompagnement peut être désactivé dans l'accueil "EASYMEALS"</div>
                        <div>Il est possible de creer de nouvelles recettes dans l'onglet Recettes, il sera également possible d'ajouter un simple ingredient à la liste de course à la fin</div>
                        <div><b>Faire glisser les recettes dans le planning ci-dessous</b></div>
                        <br>
                    </div>
                    <div ng-repeat="recipe in recipes | filter : searchRecipe" style="display:inline-block ">
                        <div  class="itemToDragPlanning itemRecipesPlanning"
                               data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone'}" ng-model="recipes" ng-show="recipe.name"
                               jqyoui-draggable="{index: {{$index}},placeholder:'keep', deepCopy:'true'}"
                        title="{{displayIngredientsOfRecipe(recipe)}}">
                            {{recipe.name}}
                        </div>
                    </div>

                    <!--
                    <br>
                    <br>
                    <div>

                        <b>Ajout Recette Express</b>
                        -

                        Pour : <input style="width:40px" type="number" min="1"   ng-model="quickRecipe.nbPerson"> pers.
                        -
                        <input style="width:50px" type="number" ng-model ='quickRecipe.ingredients[0].qty' min="0"  step="{{step}}" placeholder="Ex: 50" />
                        <select ng-model='quickRecipe.ingredients[0].unit' ng-change="changeValSelect(quickRecipe.ingredients[0])" ng-options='unit for unit in units' ></select>
                        <input type="text" ng-model ='quickRecipe.ingredients[0].food' placeholder="Ex: tomato" style="width:100px"/>
                        : &nbsp
                        <span style="border:1px solid black; border-radius:5px; padding:7px;"
                              data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone'}" ng-model="quickRecipe"
                              jqyoui-draggable="{placeholder:false}">
                            <input style="width:100px; border:none" type="text" ng-model="quickRecipe.name" placeholder="Name (to drag)">
                            <!--{{quickRecipe.name}}--
                            <span class="glyphicon glyphicon-tags"></span> <!--glyphicon-move glyphicon-hand-down--
                        </span>
                    </div>
                -->
                </div>
            </div>

        </div>
    </div>
