<div>

    <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
        WeekMeal : lunch
        <div ng-repeat="caseMeal in currentPlanning.weekMeals[1].caseMeals">
            Recipes of {{caseMeal.id}} :
            <span ng-repeat="recipe in caseMeal.recipes">
                {{recipe.name}} -
            </span>
        </div>

        <br> lastOpens :
        <div ng-repeat="planning in plannings">
            name : {{planning.name}} -   id : {{planning.id}}  - lastOpen : {{planning.lastOpen}}


        </div>
    </div>


    <button type="button" class="btn btn-info bigBtnNewPlanning" ng-click="createNewPlanning()"  ng-show="plannings.length == 0">
        <span class="glyphicon glyphicon-plus"></span> Nouveau Planning
    </button>

    <article class="myArticle myArticlePlanning" ng-show="plannings.length > 0">
        <div class="myArticleHeading">
            <div class="myArticleTitle">
                PLANNING : &nbsp
                <span ng-show="!modifyingPlanningName">
                    <select class="fieldPlanning noWidth" ng-model='currentPlanning'
                            ng-options='planning.name for planning in plannings'></select> <!-- ng-model='$parent.currentPlanning' -->
                    <!-- ng-change="changementCurrentPlanning()"-->
                    &nbsp
                    <span ng-click="modifyPlanningName()"
                          class="glyphicon glyphicon-pencil pencilModifyListName glyphiconBtn" title=""></span>
                </span>
                <span ng-show="modifyingPlanningName">
                    <input class="inputPlanning" type="text" ng-model='currentPlanning.name'
                           placeholder="Choissisez un nom" ng-keyup="pressEnterListName($event)"/> &nbsp
                    <span ng-click="modificationPlanningNameDONE()"
                          class="glyphicon glyphicon-ok modifyListNameOk glyphiconBtn" title=""></span>
                </span>


                <span class="rightInlineBlock">
                    <button type="button" class="btn btn-info btnNewPlanning" ng-click="createNewPlanning()">
                        <span class="glyphicon glyphicon-plus"></span> Nouveau Planning
                    </button>
                    <span class="glyphicon glyphicon-trash glyphDeletePlanning glyphiconBtn" ng-click="deletePlanning()"></span>
                </span>
            </div>
        </div>


        <!--planning current : {{currentPlanning}}-->

            <div class="myArticleBody">
                <div ng-controller="PlanningModalCtrl">
                <table class="table  table-hover table-bordered">
                    <th class="info myTh"></th>
                    <th class="info myTh">Lundi</th>
                    <th class="info myTh">Mardi</th>
                    <th class="info myTh">Mercredi</th>
                    <th class="info myTh">Jeudi</th>
                    <th class="info myTh">Vendredi</th>
                    <th class="info myTh">Samedi</th>
                    <th class="info myTh">Dimanche</th>

                    <tr ng-repeat="weekMeal in currentPlanning.weekMeals" ng-show="weekMeal.show">

                        <th class="info myTh" style="height:80px; width:9%; vertical-align:middle">
                            {{displayMealType(weekMeal.weekMealName)}}
                        </th>

                        <td ng-repeat="caseMeal in weekMeal.caseMeals" style="width:13%;" data-drop="true"
                            ng-model='caseMeal.recipes' jqyoui-droppable="{multiple:true}">
                            <!--, onOver:'onOverTab(\'hehehe\')' -->

                        <span ng-show="caseMeal.recipes.length > 0 && showNbPers" class="nbPers" data-drop="true" ng-model='caseMeal.nbPers'
                              jqyoui-droppable="{multiple:true}">
                            <input class="inputNbPers" type="number" min="1" ng-model="caseMeal.nbPers"> pers.
                        </span>


                            <span ng-show="showDebug" style="font-size: 18px; color:darkorange">id caseMeal : {{caseMeal.id}}</span>
                            <!--ng-repeat="recipe in caseMeal.recipes  | orderByRecipeType" -->
                            <!--track by $index permet d'avoir 2x le mm element dans un drop sans bug -->
                            <div ng-repeat="recipe in caseMeal.recipes  track by $index "
                                 class="itemToDragPlanning itemDrag" style="display: inline-block;"
                                 data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone'}"
                                 ng-model="caseMeal.recipes" ng-show="recipe.name"
                                 jqyoui-draggable="{index: {{$index}},placeholder:false , deepCopy:'true'}">

                                {{recipe.name}}

                                <br>
                            </div>
                            <!-- modal
                            <button ng-click="incr()">
                                click
                            </button>
                            <button type="button" class="btn btn-default" ng-click="open(recipesToDisplay)">Open me!</button>
                            -->
                        </td>
                    </tr>
                </table>
                </div>

                <!-- DEBUG -->
                <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
                    <div ng-repeat="recipe in currentPlanning.weekMeals[1].caseMeals[0].recipes">
                        {{recipe.name}}
                    </div>
                </div>


                <div>
                    <div style="display:inline-block">
                        <div>
                            <span>Afficher / Cacher : &nbsp&nbsp&nbsp&nbsp</span>
                        <span ng-repeat="weekMeal in currentPlanning.weekMeals"
                              class="checkbox checkbox-info checkbox-inline">
                            <input type="checkbox" ng-model="weekMeal.show" id="{{weekMeal.id}}">
                            <label for="{{weekMeal.id}}"><b>{{displayMealType(weekMeal.weekMealName)}}</b>
                                &nbsp&nbsp</label>
                        </span>
                        </div>
                        <div>
                            Nombre de personnes : &nbsp&nbsp
                            Global &nbsp
                            <input class="inputGlobalNbPers" type="number" ng-model="currentPlanning.nbPersGlobal"
                                   ng-change="spreadGlobalNbPers(currentPlanning.nbPersGlobal)" min="1"
                                   style="width:40px">
                            &nbsp - &nbsp

                            <span class="checkbox checkbox-info checkbox-inline">
                                <input type="checkbox" ng-model="showNbPers" id="idShowPers">
                                <label for="idShowPers">Voir pour chaque repas</label>
                            </span>
                        </div>
                        <div ng-show="showHelp" style="font-size: 18px; color:cornflowerblue">
                            <div>Apres avoir choisi le nombre de personne global, il est possible de le modifier pour un
                                repas en particulier : cocher "afficher nb pers." puis modifier directement le nb dans
                                le repas ou y faire glisser le nb ci-dessous
                            </div>
                        </div>
                        <div>
                            <!--<input type="checkbox" ng-model="showNbPers" >Show NbPers &nbsp-->

                            <!-- Partie avec case nbPers to drag into planning --
                            <span ng-show="showNbPers">
                                <span ng-show="showHelp" style="font-size: 18px; color:cornflowerblue">- Modifier nb pers puis faire <b>glisser</b> sur un item 'pers' d'une case du planning :</span>
                                <span ng-show="!showHelp">- <b>Glisser</b> dans une case Nb pers. :</span>
                                <span class="itemToDragPlanning nbPers" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone'}" ng-model="nbPers"
                                      jqyoui-draggable="{placeholder:'keep', deepCopy:'true'}">
                                    <input class="inputNbPers" type="number" min="1" ng-model="nbPers"><span class="glyphicon glyphicon-tag"></span>
                                </span>
                            </span>
                            -->
                        </div>
                    </div>

                    <div class="rightInlineBlock rightTrashPlanning">
                        <div id="trashPlanning" class="glyphicon glyphicon-trash" style="font-size: 50px; color:#5bc0de"
                             data-drop="{{dataDropTrash}}" ng-model='trash'
                             jqyoui-droppable="{multiple:true, onOver:'onOverTrash()', onOut:'onOutTrash()', onDrop:'onOutTrash()'}">
                            <!-- , onOver:'onOverTrash()', onOut:'onOutTrash()' }" -->
                        </div>
                    </div>

                    <!-- DEBUG -->
                    <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
                            <span class="checkbox checkbox-success checkbox-inline">
                                     <input type="checkbox" ng-model="dataDropTrash" id="dataDropTrashId">
                                     <label for="dataDropTrashId">Trash Droppable ?</label>
                            </span> droppable ? : {{dataDropTrash}}
                    </div>
                </div>
            </div>
    </article>


</div>