<div ng-controller="ListShoppingCtrl" >



    <article  class="myArticle artPlanningListShopping" id="ListShopping">
        <div class="myArticleHeading" >
            <div class="myArticleTitle">Votre Liste de Courses</div>
        </div>

        <div class="myArticleBody"  ng-controller="CustomizeShoppingCtrl">

            <!-- DEBUG -->
            <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
                <div >{{listShop}}</div>
            </div>

            <div ng-show="showHelp" style="font-size: 18px; color:cornflowerblue">
                <div><b>Cliquer sur "Generer la liste de course" une fois que le planning convient</b></div>
                <div>La liste va s'afficher (sauf si le planning est vide)</div>
                <br>
            </div>

            <div ng-show="!showListShopping()"> <button class="btn btn-info" ng-click="calculListShopping()">Générer liste de course</button> </div>
            <div ng-show="showListShopping()"> <button class="btn btn-info" ng-click="calculListShopping()">Re-générer liste de course</button> </div>
            <!--<div> <button class="btn btn-info" ng-click="testAnchor()">See anchor</button> </div>-->

            <div ng-show="!showListShopping()">
                <br>
                (cliquer sur "Générer.." pour voir apparaitre la liste de course)
            </div>


            <div ng-show="showListShopping()" class="divPlanningListShop">

                <div class="divPlanListShopLeft" id="listCategoryShop">
                    <!--<h5>Votre Liste avec Categories</h5>-->

                    <div ng-repeat="category in categories | orderBy:'name'  ">
                        <div style="border:1px solid lightgrey; border-radius:5px; margin:5px; padding:7px; " ng-show="category.ingredients.length>0">

                            <b style="border-bottom:1px solid grey; " >{{category.name}}</b>
                            <div style="margin: 5px 0; font-size:16px;" ng-repeat="ingr in category.ingredients | orderBy:'food'">
                                <div>
                                    -
                                    <span ng-show="!modifQty">{{ingr.qty}}</span>
                                    <span ng-show="modifQty"><input style="width:60px" type="number" step="{{unitStep(ingr.unit)}}" ng-model ='ingr.qty' min="0" /></span>
                                    {{displayIngrUnitAndFood(ingr)}}
                                    <!--<button type="button" class="btn btn-default" ng-click="moveCategoryToList(category, ingr)">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>-->
                                    <span ng-click="trashIngredientFromCategorie(category, ingr)" class="glyphicon glyphicon-trash" style="color:indianred"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                </div>

                <div class="divPlanListShopRight">




                    <!--
                    <div>
                        <h5> Selectionner categorie pour inserer ingredients </h5>
                        <span class="glyphicon glyphicon-arrow-left" style="margin-left:50px; font-size: 30px; color:#5bc0de"></span>
                        <div ng-repeat="category in categories | orderBy:'name'">
                            <label>
                                <input type="radio" ng-model="$parent.categoryChosen" ng-value="category.name" />{{category.name}}
                            </label>
                        </div>
                        <input style="width:90px" type="text" ng-model ='catName' placeholder="chocolat" />
                        <button type="button" class="btn btn-default" ng-click="addCategoryList(catName)">
                            <span class="glyphicon glyphicon-plus"></span> categorie
                        </button>
                    </div>
                    <div >
                        <h5>Liste temporaire</h5>
                        <br>
                        <div ng-repeat="ingr in listShop | orderBy:'food'">
                            <div>
                                - <span ng-show="!modifQty">{{ingr.qty}}</span>
                                <span ng-show="modifQty"><input style="width:60px" type="number" ng-model ='ingr.qty' min="0" /></span>
                                {{getIngrUnitDisplay(ingr.unit)}} {{ingr.food}}
                                <button type="button" class="btn btn-default" ng-click="moveListToCategory(ingr)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <span ng-click="trashIngredientFromListShop(ingr)" class="glyphicon glyphicon-trash" style="color:indianred"></span>
                            </div>
                        </div>



                        -->
                    <div class="divPlanListShopRightAddIngrLeft">
                        Ajouter Ingredient :
                        <input style="width:40px" type="number" ng-model ='newIngredient.qty' min="0"  placeholder="50" />
                        <input style="width:60px" type="text" ng-model ='newIngredient.unit' placeholder="g" />
                        <input style="width:100px" type="text" ng-model ='newIngredient.food' placeholder="chocolat" />

                        <br>
                        dans Categorie :
                        <select class="fieldPlanning"  ng-model='categoryChosenCreateIngr'>
                            <option ng-repeat="category in categories" value="{{category.name}}"> {{category.name}}</option>
                        </select>
                    </div>
                    <div class="divPlanListShopRightAddIngrRight">
                        <button type="button" class="myBtnEmpty myBtnEmptyPlanning btnAddQty" ng-click="addNewIngr(newIngredient, categoryChosenCreateIngr )">
                            <span class="glyphicon glyphicon-plus"></span> <!-- + Ingredient-->
                        </button>
                    </div>

                    <br>
                    <br>
                    <br>
                    <button class="myBtnEmpty myBtnEmptyPlanning" ng-click="toggleModifQty()" ng-show="!modifQty">Modifier Quantités</button>
                    <button class="btn btn-info" ng-click="toggleModifQty()" ng-show="modifQty">Valider Modification</button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button class="myBtnEmpty myBtnEmptyPlanning" ng-click="saveListShopping()">SAUVEGARDER LISTE</button>

                </div>
            </div>
        </div>
    </article>



    <!-- IF no pb, can be delete (copy less clean of the article above)
    <div class="row" style="color: darkslategrey" id="listShopping">



        <div class="col-md-12">

            <div  class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title" style="color:darkslategrey;">Liste de courses</h3>
                </div>

                <div class="panel-body main-panel row"  ng-controller="CustomizeShoppingCtrl">

                    <div ng-show="showImprovement" style="font-size: 20px; color:#d9534f">

                    </div>
                    <div ng-show="showHelp" style="font-size: 18px; color:cornflowerblue">
                        <div><b>Cliquer sur "Generer la liste de course" une fois que le planning convient</b></div>
                        <div>La liste va s'afficher (sauf si le planning est vide)</div>
                        <br>
                    </div>

                    <!-- DEBUG ->
                    <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
                        <div >{{listShop}}</div>
                    </div>

                    <div style="margin-left:40px">
                        <button class="btn btn-info" ng-click="calculListShopping()">Générer liste de course</button>
                    </div>
                    <br>






                    <div class="col-md-5" ng-show="showListShopping()" style="color:darkslategrey">
                        <h5>Votre Liste avec Categories</h5>

                        <div ng-repeat="category in categories | orderBy:'name'  ">
                            <div style="border:1px solid lightgrey; border-radius:5px; margin:5px; padding:7px; " ng-show="category.ingredients.length>0">

                                <b style="border-bottom:1px solid grey; " >{{category.name}}</b>
                                <div ng-repeat="ingr in category.ingredients | orderBy:'food'">
                                    <div>
                                        -
                                        <span ng-show="!modifQty">{{ingr.qty | number:1}}</span>
                                        <span ng-show="modifQty"><input style="width:60px" type="number" ng-model ='ingr.qty' min="0" /></span>
                                        {{getIngrUnitDisplay(ingr.unit) }} {{ingr.food}}
                                        <button type="button" class="btn btn-default" ng-click="moveCategoryToList(category, ingr)"> <!-- $index indique l'index du ng-repeat ->
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                        <span ng-click="trashIngredientFromCategorie(category, ingr)" class="glyphicon glyphicon-trash" style="color:indianred"></span>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>







                    <div class="col-md-3" ng-show="showListShopping()" style="color:darkslategrey" >
                        <h5> Selectionner categorie pour inserer ingredients </h5>
                        <span class="glyphicon glyphicon-arrow-left" style="margin-left:50px; font-size: 30px; color:#5bc0de"></span>
                        <div ng-repeat="category in categories | orderBy:'name'">
                            <label>
                                <input type="radio" ng-model="$parent.categoryChosen" ng-value="category.name" />{{category.name}}
                            </label>

                        </div>
<!--
                                <span class="checkbox checkbox-circle " >
                                    <input type="radio"  ng-model="categoryChosen"  ng-value="category.name" id="0">
                                    <label for="0" >
                                        Surgeles
                                    </label>
                                </span><span class="checkbox checkbox-info " >
                                    <input type="radio"  ng-model="categoryChosen"  ng-value="category.name" id="2">
                                    <label for="2" >
                                        Surgeles
                                    </label>
                                </span>
->

                        <input style="width:90px" type="text" ng-model ='catName' placeholder="chocolat" />
                        <button type="button" class="btn btn-default" ng-click="addCategoryList(catName)"> <!-- $index indique l'index du ng-repeat ->
                            <span class="glyphicon glyphicon-plus"></span> categorie
                        </button>


                        <br>
                        <br>
                        <br>
                        <button class="btn btn-default" ng-click="toggleModifQty()" ng-show="!modifQty">Modifier Quantités</button>
                        <button class="btn btn-info" ng-click="toggleModifQty()" ng-show="modifQty">Modification ok</button>

                    </div>




                    <div class="col-md-4" ng-show="showListShopping()"style="color:darkslategrey">
                        <h5>Liste temporaire</h5>
                        <br>
                        <div ng-repeat="ingr in listShop | orderBy:'food'"> <!-- | orderBy:'food'->
                            <div>
                                - <span ng-show="!modifQty">{{ingr.qty}}</span>
                                <span ng-show="modifQty"><input style="width:60px" type="number" ng-model ='ingr.qty' min="0" /></span>
                                {{getIngrUnitDisplay(ingr.unit)}} {{ingr.food}}
                                <button type="button" class="btn btn-default" ng-click="moveListToCategory(ingr)"> <!-- $index indique l'index du ng-repeat ->
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <span ng-click="trashIngredientFromListShop(ingr)" class="glyphicon glyphicon-trash" style="color:indianred"></span>
                            </div>
                        </div>



                        <input style="width:30px" type="number" ng-model ='newIngredient.qty' min="0"  placeholder="1" />
                        <input style="width:60px" type="text" ng-model ='newIngredient.unit' placeholder="tablette" />
                        <input style="width:90px" type="text" ng-model ='newIngredient.food' placeholder="chocolat" />
                        <button type="button" class="btn btn-default" ng-click="addIngredientList(newIngredient)"> <!-- $index indique l'index du ng-repeat ->
                            <span class="glyphicon glyphicon-plus"></span> ingredient
                        </button>


                    </div>








                </div>
            </div>

        </div>
    </div>
    -->


</div>