<section class="mySectionBlock" ng-controller="FilterCtrl">

    <div class="divRecipesType">

        <button class="btn btn-info btnRecipeType" ng-click="selectRecipes('starter')" >Entrees</button>
        <button class="btn btn-info btnRecipeType" ng-click="selectRecipes('course')" >Plats</button>
        <button class="btn btn-info btnRecipeType" ng-click="selectRecipes('dessert')" >Desserts</button>
        <button class="btn btn-info btnRecipeType" ng-click="selectRecipes('breakfast')"  >Dej- Goûters</button>
        <button class="btn btn-info btnRecipeType" ng-click="selectRecipes('cocktail')">Cocktails</button>
    </div>







    <!--
    ----------------------------------------------------------------------------------------------------------
    -------------------------   MA SELECTION   ---------------------------------------------------------------
    ----------------------------------------------------------------------------------------------------------
    -->
    <article class="artMySelection myArticle">
        <div  class="panel panel-default" style=" overflow: auto;" >
            <div class="panel-heading">
                <h3 class="panel-title" style="display:inline-block">Ma Selection</h3>
                <span ng-click="emptyFilterSelection()" class="glyphicon glyphicon-trash trashFilter glyphiconBtn" ></span>
            </div>

            <div class="myMainPanelFilterRecipe main-panel">

                <div class="divSubSelection" ng-repeat="myList in filterMySelection.myLists | orderBy:'name'"
                     ng-click="removeMyListFromSelection(myList)">
                    <button-selection>
                        {{myList.name}}
                        <span ng-show="isRecipeFavorite(myList.id)" class="glyphicon glyphicon-heart heartNoBtn"></span>
                        &nbsp
                        <span ng-show="isRecipePlanning(myList.id)" class="glyphicon glyphicon-th-list thListNoBtn"></span>
                    </button-selection>
                </div>
                <div class="separatorSelection" ng-show="separateMyList()"></div>
                <div class="divSubSelection" ng-repeat="category in filterMySelection.categories | orderBy:'toString()'"
                     ng-click="removeCategoryFromSelection(category)">
                    <button-selection filter-type="Categorie :" >{{category}}</button-selection>
                </div>
                <div class="separatorSelection" ng-show="separateCategorie()"></div>
                <div class="divSubSelection" ng-repeat="origin in filterMySelection.origins | orderBy:'toString()'"
                     ng-click="removeOriginFromSelection(origin)">
                    <button-selection filter-type="Recette :">{{origin}}</button-selection>
                </div>
            </div>
        </div>

    </article>

    <!--
        ----------------------------------------------------------------------------------------------------------
        -------------------------   FILTERS   ---------------------------------------------------------------
        ----------------------------------------------------------------------------------------------------------
        -->
    <div  class="artFilters panel panel-default " >
        <div  class="panel panel-default" style=" overflow: auto;" >
            <div class="panel-heading" >
                <h3 class="panel-title">Affiner la recherche</h3>
            </div>

            <div class="panel-body main-panel">
                <div class="filterMyLists">
                    <div class="txtTitleSubFilter" >Mes listes</div>
                    <div class="divSubSelection" ng-repeat="myList in filterSearch.myLists | orderBy:'name'" ng-click="moveMyListToSelection(myList)">
                        <button-filter>
                            {{myList.name}}
                            <span ng-show="isRecipeFavorite(myList.id)" class="glyphicon glyphicon-heart heartNoBtn"></span>
                            &nbsp
                            <span ng-show="isRecipePlanning(myList.id)" class="glyphicon glyphicon-th-list thListNoBtn"></span>
                        </button-filter>
                    </div>
                </div>


                <div class="filterCategories">
                    <div class="txtTitleSubFilter" >Categories recette</div>

                    <select class="fieldRecipe"  ng-model='myCategory' ng-init="'Viande'" >
                        <option ng-repeat="category in filterSearch.categories" value="{{category}}" selected>{{category}}</option>
                    </select>

                    <button ng-click="moveCategoryToSelection(myCategory)">ADD </button>

                </div>

                <div class="filterOrignins">
                    <div class="txtTitleSubFilter" >Recette</div>

                    <select class="fieldRecipe"  ng-model='myOrigin' >
                        <option ng-repeat="origin in filterSearch.origins" value="{{origin}}" selected>{{origin}}</option>
                    </select>

                    <button ng-click="moveOriginToSelection(myOrigin)">ADD </button>
                </div>
            </div>
        </div>
    </div>


    <!--
           ----------------------------------------------------------------------------------------------------------
           -------------------------   RECIPES LIST   ---------------------------------------------------------------
           ----------------------------------------------------------------------------------------------------------
           -->
    <div class="artRecipes myArticle">

        <div  class="panel panel-default" style="overflow: auto;" >
            <div class="panel-heading" >
                <div class="row" style="color:darkslategrey" >
                    <h3 class="col-md-4 panel-title">
                        {{displayRecipeType()}}
                    </h3>
                    <div class="col-md-4 sortListRecipe" >
                        <span   class="glyphicon glyphicon-sort" ></span>
                        &nbsp
                        <select class="fieldRecipe"  ng-model='recipeOrderBy'  >
                            <option ng-repeat="orderby in listOrderBy" value="{{orderby.value}}">{{orderby.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4" style="font-size:15px">
                        <span   class="glyphicon glyphicon-search " ></span>
                        &nbsp
                        <input  type="text" ng-model="searchRecipe" placeholder="plat ou ingredient" style="border:none; ">
                    </div>
                </div>
            </div>

            <div class="panel-body main-panel">

                <div ng-show="showHelp" style="font-size: 18px; color:cornflowerblue">
                    <div style="font-size: 12px;">@ le mode accompagnement peut être désactivé dans l'accueil "EASYMEALS"</div>
                    <div>Il est possible de creer de nouvelles recettes dans l'onglet Recettes, il sera également possible d'ajouter un simple ingredient à la liste de course à la fin</div>
                    <div><b>Faire glisser les recettes dans le planning ci-dessous</b></div>
                    <br>
                </div>
                <div ng-repeat="recipe in recipesToDisplay | filter : searchRecipe | orderBy: recipeOrderBy" style="display:inline-block "> <!-- track by $index-->
                    <div  class="itemToDragPlanning itemRecipesPlanning"
                          data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone'}" ng-model="recipe" ng-show="recipe.name"
                          jqyoui-draggable="{index: {{$index}},placeholder:'keep', deepCopy:'true'}"
                          title="{{displayIngredientsOfRecipe(recipe)}}">
                        {{recipe.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
























    <!-- OLD WHOLE DIV
    <div class="row"  >
            <div class="col-md-2" style="margin-top:0px">

                <div>
                    <div><button class="btn btn-info" ng-click="selectRecipes('starter')" style="width: 150px;">Entrees</button></div>
                    <br>
                    <div><button class="btn btn-info" ng-click="selectRecipes('course')" style="width: 150px;">Plats</button></div>
                    <br>
                    <div><button class="btn btn-info" ng-click="selectRecipes('dessert')" style="width: 150px;">Desserts</button></div>
                    <br>
                    <div><button class="btn btn-info" ng-click="selectRecipes('breakfast')" style="width: 150px;" >Dej- Goûters</button></div>
                    <br>
                    <div><button class="btn btn-info" ng-click="selectRecipes('cocktail')" style="width: 150px;">Cocktails</button></div>
                </div>

            </div>
            <div class="col-md-10">

                <div  class="panel panel-default" >
                    <div class="panel-heading" >
                        <div class="row" style="color:darkslategrey" >
                            <h3 class="col-md-4 panel-title">
                                {{displayRecipeType()}}
                            </h3>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4" style="font-size:15px">
                                <span   class="glyphicon glyphicon-search " ></span>
                                &nbsp
                                <input  type="text" ng-model="searchRecipe" placeholder="plat ou ingredient" style="border:none; ">
                            </div>
                        </div>
                    </div>

                    <div class="panel-body main-panel">

                        <div ng-show="showHelp" style="font-size: 18px; color:cornflowerblue">
                            <div style="font-size: 12px;">@ le mode accompagnement peut être désactivé dans l'accueil "EASYMEALS"</div>
                            <div>Il est possible de creer de nouvelles recettes dans l'onglet Recettes, il sera également possible d'ajouter un simple ingredient à la liste de course à la fin</div>
                            <div><b>Faire glisser les recettes dans le planning ci-dessous</b></div>
                            <br>
                        </div>
                        <div ng-repeat="recipe in recipes | filter : searchRecipe" style="display:inline-block ">
                            <div  class="itemToDragPlanning itemRecipesPlanning"
                                   data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone'}" ng-model="recipes" ng-show="recipe.name"
                                   jqyoui-draggable="{index: {{$index}},placeholder:'keep', deepCopy:'true'}"
                            title="{{displayIngredientsOfRecipe(recipe)}}">
                                {{recipe.name}}
                            </div>
                        </div>

                        <!--
                        <br>
                        <br>
                        <div>

                            <b>Ajout Recette Express</b>
                            -

                            Pour : <input style="width:40px" type="number" min="1"   ng-model="quickRecipe.nbPerson"> pers.
                            -
                            <input style="width:50px" type="number" ng-model ='quickRecipe.ingredients[0].qty' min="0"  step="{{step}}" placeholder="Ex: 50" />
                            <select ng-model='quickRecipe.ingredients[0].unit' ng-change="changeValSelect(quickRecipe.ingredients[0])" ng-options='unit for unit in units' ></select>
                            <input type="text" ng-model ='quickRecipe.ingredients[0].food' placeholder="Ex: tomato" style="width:100px"/>
                            : &nbsp
                            <span style="border:1px solid black; border-radius:5px; padding:7px;"
                                  data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone'}" ng-model="quickRecipe"
                                  jqyoui-draggable="{placeholder:false}">
                                <input style="width:100px; border:none" type="text" ng-model="quickRecipe.name" placeholder="Name (to drag)">
                                <!--{{quickRecipe.name}}--
                                <span class="glyphicon glyphicon-tags"></span> <!--glyphicon-move glyphicon-hand-down--
                            </span>
                        </div>
                    --
                    </div>
                </div>

            </div>
        </div>
    -->

</section>

