

/**************************** OLD GRAYSCALE ***********************************/

.myMain {

    padding-top:90px;
    /*
    display: block;/* ->from bootstrap;*
    margin-right: auto;
    margin-left: auto;
    min-height:780px;
    height:780px;
    max-height:780px;*/

}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #28c3ab; //commentaire ici;
    color: #28c3ab;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.main-panel {
    color:black;
}
/**************************** FIN OLD GRAYSCALE ***********************************/




/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/*******************************************************************                          **************************************************************************************************/
/*******************************************************************         MAIN             **************************************************************************************************/
/*******************************************************************                          **************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/



.h5WelcomeMeal{
    margin-top:20px;
    margin-bottom:0;
    color:indianred;
}
.bodyEasyMeals{
    width: 100%;
    height: 100%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bodyRecipe{

    width: 100%;
    height: 100%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: url(../img/recipe_vegetables.jpg) repeat ; /* planning-recipe_meals OR recipe_fruits.jpeg  //bottom center scroll */
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    padding: 0 2vw;
}

.bodyPlanning{

    width: 100%;
    height: 100%;
    /*font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: url(../img/planning_background.jpg) ; /* expense-planning_Red-Raspberry   OR  intro-bg.jpg OR planning-recipe_meals.jpg*/
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.bodyExpense{

    width: 100%;
    height: 100%;
    /*font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: url(../img/expense_noteSober.jpg) no-repeat ; /*expense_note OR  expense-planning_Red-Raspberry */
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 0 2vw;
}



.bodyAlcohol{

    width: 100%;
    /*height: 100%;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: url(../img/alcohol_glass-wineGood.jpg) no-repeat ; /* alcohol_glassWineOnWood //center scroll */
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}





/**************************************************************************************************************************************************************************************/
/**********************************************************************  ARTICLE custom   ********************************************************************************************/
/************************************************************************************************************************************************************************************/
.mySectionBlock{
    display: block;
}
.mySection{

}
.mySectionHeading{

}
.mySectionTitle{

}

.myArticle{
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
    //color:darkslategrey;
    color:#333;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.myArticleHeading {
    padding: 10px 1vw;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.myArticleTitle{
    color:#333;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}
.myArticleBody {
    padding: 1vw;
}


/**********************************************************************  BUTTONS   ********************************************************************************************/

.btn{/*from bootstrap line 3005 ne sera plus utiliser soon!*/
    padding: 6px 8px;
    border-radius: 3px;
}


.myBtn{
    padding: 6px 12px;
    border-radius: 3px;
/*  line-height:normal; /*putin de boostrap...*
    vertical-align: middle;
    /*
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height:normal;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    */
}



/**********************************************************************  SELECTION (mouse cursor select) ********************************************************************************************/
::selection { /* surlign / effet souris  */
    color: white;
    background: darkslategrey;
}
select::selection,option::selection { /* ne fonctionne pas  */
    color: white;
    background: darkslategrey;
}
/*ne fonctionne pas.. est ce que c pas assez precis
.bodyPlanning::selection{
    background: green; /* REMPLACER PAR LA COULEUR DÉSIRÉE*
}
*/


/**********************************************************************  TABLES   ********************************************************************************************/

.myTh{
    color:darkslategrey;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700; /* epaisseur txt */
    letter-spacing: 1px;
    font-size: 20px;
}
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/*******************************************************************    --end--   MAIN        **************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/







/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/*******************************************************************                          **************************************************************************************************/
/*******************************************************************         NAVBAR           **************************************************************************************************/
/*******************************************************************                          **************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/*******************************************************************    --END--   NAVBAR      **************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/




/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/*******************************************************************                          **************************************************************************************************/
/*******************************************************************         RECIPE           **************************************************************************************************/
/*******************************************************************                          **************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/

.titleRecipe{
    margin-left:2vw;
}

/**********************************************************************  FILTER RECIPE #LEFT FIXED   ********************************************************************************************/
.navRecipeFixed {
    position: fixed;
    top:50px;
    overflow: auto;
}
#filterRecipe{
    float: left;
    margin-left:2vw; /* le % faisant grossir la largueur lors de scroll -> fixed*/
    width:24vw;
}


/*****************************  BTN - INPUT custom filter    **************************************************/
.littlePlus{
    font-size:9px;
    margin-right:5px; /* a enlever si pas de directive..*/
}
.btn-defaultRecipe{
    padding: 4px 6px 5px 6px;
    border:1px solid #f0ad4e;
    color:#f0ad4e;
    background-color: white;
    text-transform : none;

}
.btn-defaultRecipe:hover{
    color:darkslategrey;
    background-color: #f5c88a;
}
.inputRecipe{
    padding: 5px;
    width:130px;
    border-radius:3px;
    border:1px solid lightgrey;
    color: darkslategrey;

}
.inputRecipe:focus {
    outline: 0; /*2px solid #d9534f;*/
    border: 2px solid #f5c88a ;
}
.inputRecipeSearch{
    padding: 2px;
    border-radius:3px;
    border:1px solid lightgrey;
    border:none;
    color: darkslategrey;
}
.inputRecipeSearch:focus{
    /*border: 1px solid #f5c88a ;*/

}


.btnPlusFilter{
    font-size:12px;
    padding-bottom:5px;
}

.myMainPanelFilterRecipe{
    padding:1vw;

}
/************************************************************************************************************/
/*****************************  FILTER - MA SELECTION    ***************************************************/
/**********************************************************************************************************/

.trashFilter{
    color: #f0ad4e;
    display:inline-block;
    position: relative;
    float: right;
    font-size:18px;
}
.trashFilter:hover{
    color: #f5c88a;
    transform: scale(1.5);
}
.separatorSelection{
    border-bottom:1px solid lightgray;
}

.divSelection{
    margin:2px 5px;
}
.divSubSelection{
    margin:3px 0;
}


.txtSelection{
    font-size:13px;
    color:darkslategrey;
}
.txtTitleSelection{
    font-size:13px;
}
/************************************************************************************************************/
/*****************************  FILTER - AFFINER RECHERCHE  ************************************************/
/**********************************************************************************************************/

.elemColonneX3{ /* colonnes x3*/
    display:inline-block;
    margin: 0 1% 0 1%;
    width:30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.elemCategorieVrac{ /*pas de colonne : tt en vrac*/
    display:inline-block;
    margin: 3px 3% 3px 0;
}
.elemColonneX2{/*colonne x2*/
    display:inline-block;
    margin: 2px 0;
    width:42%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.txtFilter{
    font-size:13px;
    color:darkslategrey;
}

.txtTitleSubFilter{
    font-weight: 600; /*=normal.  bold = 700;*/
    border-bottom:1px solid grey;
    margin-bottom:10px;
}

.divSubFilter{
    /* border:1px solid grey;
     border-radius:5px;
     margin:10px 5px;
     padding:7px;
     */
    margin:5px;
    padding:5px 0;

}
.divSubFilterTop{
    margin-top:0;
}



/**********************************************************************  LIST RECIPE #RIGHT   ************************************************************************************************/

#listRecipe{
    margin-left:28%;
    width:64%;
}
.myMainPanelListRecipe{
    padding-top:2vw;
    padding-left:3vw
}
.divTopListRecipe{
    margin-bottom:2vw;
}
.buttonCreate{
    margin-left:0;
    display:inline-block;
}
.buttonsDisplayListRecipe{
    margin-left:3vw;
    display:inline-block;
    vertical-align: middle;
}
.sortListRecipe{
    font-size:15px;
    margin-right:3vw;
    display:inline-block;
    position:relative;
    float:right;
}
/** div recipe autant withDescr or noDescr.**/
.divRecipes{
    border-radius: 5px;
    margin: 15px 0;
    margin-right: 2vw;
}
.divRecipes:hover{
    background-color: lightgrey;
    cursor:pointer;
}

.fieldRecipe{
    padding: 5px;
    width:100px;
    border-radius:3px;
    text-align: center;

    border:1px solid lightgrey;
    color: #f0ad4e;
}
.fieldRecipe:focus {
    outline: 0; /*2px solid #d9534f;*/
    border: 2px solid #f5c88a ;
}


/************************************************************************************************************/
/*********************************  NO DESCRIPTION custom  *************************************************/
/**********************************************************************************************************/


.pixRecipeNoDescription{
    width:220px;
    height:140px;
    background-repeat:no-repeat;
    background-size:cover;
    /*
    background-position:top left;
    background-image:url("../images/lasagne.jpg");
    */
    display: inline-block;
    border-radius:3px;

}

.titleAndSoNoDescription{

    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    display: inline-block;/*block sera a droite de la pix*/
    margin-left:5%;
    vertical-align:top;
    font-size: 22px;
}
.titleAndSoNoDescription > .title{
    margin-top:25px;
    margin-bottom:25px;
    font-size: 20px;/* 22*/
    color:darkslategrey; /*darkorange*/

}

/************************************************************************************************************/
/********************************  WITH DESCRIPTION custom  ************************************************/
/**********************************************************************************************************/

.recipeWithDescrip{
    background-image:url('../images/blackSlateSlab.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    color:white;
    border-radius:3px;
    padding:10px;
    padding-bottom:20px;
}

.recipeWithDescrip .heart[title]:hover:after,
.recipeWithDescrip .thList[title]:hover:after,
.recipeWithDescrip .newWindow[title]:hover:after{
    color:white;
    left:-60px;
}

.divTopRecipe{
    /*margin-top:15px;*/
    overflow:hidden;
    margin-bottom:10px;
}

.pixRecipeWithDescrip{
    width:44%;/*240px;*/
    min-width : 240px;
    height:160px; /* a modifier dynamiquement (avec javascript en recuperant la largeur et en faisant 2/3)*/
    background-repeat:no-repeat;
    background-size:100% 100%; /*100% not enought*/
    background-position:top left;
    /*background-image:url("../images/burger2.jpg");*/
    display: inline-block;
    margin-left:2%;
    border-radius:3px;

}
.ingredientRecipe{
    display: inline-block;
    width:50%;
    margin-left:2%;
    vertical-align:top;
    /*font-style:bold;
    font-size:large;*/
}
.preparationRecipe{
    margin-left:2%;
    /*font-style:bold;
    font-size:large;*/
}

.titleOfDescrip{
    margin: 5px 0 20px 2%;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}

.subTitleOfDescrip{
    margin-bottom:10px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}

/************************************************************************************************************/
/********************************  BLOCK custom  ***********************************************************/
/**********************************************************************************************************/
.divRecipesBlock{
    display:inline-block;
    margin: 1vw 2vw 1vw 0;
}
.divRecipesBlock:hover{
    cursor:pointer;
}
.divRecipesBlockIcon{

    width:17vw; /*x4*/
    /*width:14vw; x3*/
    min-width:160px;
    /*width:220px;*/
    vertical-align: top;

}.divRecipesBlockDescription{
     width:90%;
 }

.pixRecipeBlock{
    width:17vw; /*x3*/
    height:11vw;
    /*width:14vw; x3
    height:9vw;*/
    min-width:160px;
    min-height:100px;
    /*width:220px;
    height:140px;*/
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:3px;
}

.titleAndSoBlock{
}
/* ici on laisse faire mais 1 ligne max pr le titre donc glyphicons en retour a la ligne au pire mais propre*/
.titleBlock{
    display:inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.glyphiconsBlock{
    margin-left:5px;
    display:inline-block;
}
/* ici on fix les glyphicon a droit et 1 seul ligne pr titre mais titre tres court...*
.titleBlock{
    display:inline-block;
    /*no retour line:*
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.glyphiconsBlock{
    display:inline-block;
    vertical-align: top;
    position: relative;
    float: right;
}*/
/* ici on fix les glyphicon a droite et plusieurs lignes pr titre mais largeur que 60% donc bof*
.titleBlock{
    display:inline-block;
    /*no retour line:*
    max-width: 60%;
    white-space: normal;
}
.glyphiconsBlock{
    display:inline-block;
    vertical-align: top;
    position: relative;
    float: right;
}*/
/* ici on laisse faire (pb est sil y a  2 ligne mais 2eme ligne remplie que a moitie,
    glyphicons seront en retour a la ligne qd mm.. (pask block de text rectangulaire*
.titleBlock{
    display:inline-block;
}
.glyphiconsBlock{
    margin-left:5px;
    display:inline-block;
}
*/


/* marche mais pb de variable pr afficher {{recipe.name}} ...^^ *
.titleBlock[title]:hover{
    transform:scale(1);
}
.titleBlock[title]:hover:after{

    padding: 4px 8px;
    position: absolute;
    top: 100%;
    left:-30px;
    white-space: nowrap;
    z-index: 50;
    border-radius: 5px;
    font-size:8px;
    color:darkslategrey;
    content: 'Ajouter à mes recettes préferées';
}
*/


/************************************************************************************************************/
/*************************  SINGLE RECIPE (new window) custom  *********************************************/
/**********************************************************************************************************/
.titleRecipeSingle{
    margin-left:5%;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 2px;

}
.divRecipeSingle{
    border-radius: 5px;
    margin: 20px 5%;
}

.divTopRecipeSingle{
    /*margin-top:15px;*/
    overflow:hidden;
    margin-bottom:10px;
}
.pixRecipeSingle{
    /*width:44%;/*240px;*
    height:250px; /* a modifier dynamiquement (avec javascript en recuperant la largeur et en faisant 2/3)*/

    width:40vw;
    height:23vw;
    min-width:400px;
    min-height:250px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:top left;
    /*background-image:url("../images/burger2.jpg");*/
    display: inline-block;
    margin-left:2%;
    border-radius:3px;

}
.ingredientRecipeSingle{
    display: inline-block;
    width:50%;
    margin-left:2%;
    vertical-align:top;

    font-size: 20px;
    /*font-style:bold;
    font-size:large;*/
}
.subTitleSingle{
    margin-bottom:10px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
}
.preparationRecipeSingle{
    margin-left:2%;
    font-size: 20px;
}

/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/*******************************************************************    --END--   RECIPE      **************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/






/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/*******************************************************************                          **************************************************************************************************/
/*******************************************************************         PLANNING         **************************************************************************************************/
/*******************************************************************                          **************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/




.contourTxt{
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}


/**********************************************************************  PLANNING RECIPES  **************************************************************************************************/

.divRecipesType{
    margin: 2vw;
}
.btnRecipeType{
    margin-right:2vw;
    width: 150px;
}

.artMySelection{
    float: left;
    margin-left:2vw; /* le % faisant grossir la largueur lors de scroll -> fixed*/
    width:20vw;

}
.artFilters{
    margin-bottom:1vw;
    margin-left:25vw;
    width:70vw;

}
.filterMyLists{
    display:inline-block;
    width:30%;
    vertical-align: top;

}
.filterCategories{
    display:inline-block;
    width:25%;
    vertical-align: top;
}
.filterOrignins{
    display:inline-block;
    width:25%;
    vertical-align: top;
}


.artRecipes{
    margin-left:2vw;

}




/**********************************************************************  PLANNING TAB  **************************************************************************************************/
/*
.itemToDragPlanning_OldStyle {
    padding: 7px;
    border-radius:3px;
    margin:5px;

    border:1px solid #5bc0de;
    color: #5bc0de;
}*/
.itemToDragPlanning {
    padding: 6px;
    border-radius:3px;
    margin:2px 0;

    border:1px solid lightgrey;
    color: cornflowerblue;
}
.itemRecipesPlanning{
    margin:4px;
}

.nbPers{
    color:cornflowerblue;
    color: lightgrey;
    border:1px solid lightgrey;
    border-radius:3px;
    padding:3px;
}
.inputNbPers{
    color:cornflowerblue;
    width:40px;
    border:none;
    border-radius:3px;
    text-align: center;
    background-color:#f9f9f9;
}
.inputGlobalNbPers{

    width:40px;
    color:cornflowerblue;

    border:1px solid lightgrey;
    border-radius:3px;
    padding:3px;
    text-align: center;
}



/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/*******************************************************************    --end--  PLANNING     **************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/




/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/*******************************************************************                          **************************************************************************************************/
/*******************************************************************         EXPENSES         **************************************************************************************************/
/*******************************************************************                          **************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/


.artParameter{
    width: 30%;
    margin-bottom: 30px;
}
.artParameterHelp{
    width: 70%;
}
.artWhoPaidWhat{
    width: 100%;
    overflow-y:auto;
    margin-bottom: 30px;
}
.artResult{
    width: 30%;
    margin-bottom: 30px;
}

.artBodyResult {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700; /* epaisseur txt */
    letter-spacing: 1px;
    font-size: 20px;
    color:#5cb85c; /*success*/
}


.fieldExpense {
    /*
    border:none;
    background-color:#dff0d8
    */
    padding: 7px;
    width:60px;
    border-radius:3px;
    text-align: center;

    border:1px solid lightgrey;
    color: #5cb85c;
}

select.fieldExpense {
    width:auto;
}
textarea.fieldExpense {
    width:auto;
    text-align: left;
}
.fieldExpense:focus {
    outline: 0; /*2px solid #d9534f;*/
    border: 2px solid #95d095;
}

.myThExpense {
    color: darkslategrey;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600; /* epaisseur txt */
    letter-spacing: 1px;
}


/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/*******************************************************************    --end--  EXPENSES     **************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/*******************************************************************                          **************************************************************************************************/
/*******************************************************************         ALCOHOL          **************************************************************************************************/
/*******************************************************************                          **************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/


.fieldAlcohol {
    /*
    border:none;
    background-color:#dff0d8
    */
    ont-weight: 700; /* epaisseur txt */
    font-size: 20px;
    padding: 7px;
    width:80px;
    border-radius:3px;
    text-align: center;

    border:1px solid lightgrey;
    color: #d9534f;

}
.fieldAlcohol:focus {
    outline: 0; /*2px solid #d9534f;*/
    border: 2px solid #e89996;
}


.itemToDragAlcohol{
    padding: 6px;
    margin:4px; /* seul difference avec itemDroppedAlcohol */

    border-radius:3px;
    border:1px solid lightgrey;
    color: #d9534f;
}

.itemDroppedAlcohol {

    width:350px;
    padding: 6px;
    margin:5px 0; /* seul difference avec itemToDragAlcohol */
    margin-left:50px;
    border-radius:3px;
    border:1px solid lightgrey;
    color: #d9534f;

}
/* ne fonctionne pas
.bodyAlcohol > input:focus {
    outline: 0;
    border:2px solid #e89996;
}
*/

/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/*******************************************************************    --end--  ALCOHOL      **************************************************************************************************/
/***********************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************/











/****************************************************************************************************************************************************************************************/
/*************************************************************************   GLYPHICONS  ***********************************************************************************************/
/**************************************************************************************************************************************************************************************/

.glyphiconBtn{
    cursor:pointer;
}

/** .titleAndSoNoDescription > **/
.heart{
    color: #bfbfbf ;/*lightgrey++*/
}
.heart:hover{
    color:red;
    transform: scale(1.5);
}
.thList{
    color: #bfbfbf ;/*lightgrey++*/
}
.thList:hover{
    color:#1b61e4;
    transform: scale(1.5);
}
.newWindow{
    color: #f5c88a;
}
.newWindow:hover{
    color: #f0ad4e;
    transform: scale(1.5);
}
.hearta:hover{
    transform: scale(1.5);
}
.hearta[title]:hover:after{

    position: absolute;
    top: 100%;
    left:-30px;
    white-space: pre;
    border-radius: 5px;
    font-size:8px;
    color:orange;
    content: 'Ajouter à mes recettes fdsfdsdsqffdq';
}

.heart[title]:hover:after,
.thList[title]:hover:after,
.newWindow[title]:hover:after{
    position: absolute;
    top: 100%;
    left:-30px;
    white-space: pre;
    border-radius: 5px;
    font-size:8px;
    color:darkslategrey;
}
.heart[title]:hover:after{
    content: 'Ajouter à mes recettes préferées';
}
.thList[title]:hover:after{
    content: 'Ajouter à liste planning';
}
.newWindow[title]:hover:after{
    content: 'Ouvrir recette dans nouvel onglet';
}

.heartTaken:hover, .thListTaken:hover{
    color:slategray;
    transform: scale(1);
}
.heartTaken, .heartNoBtn{
    color: #ff4d4d ;
}
.thListTaken, .thListNoBtn{
    color: cornflowerblue;
}
.heartTaken[title]:hover:after{
    font-size:12px;
    content: 'Retirer de mes recettes préferées';
}
.thListTaken[title]:hover:after{
    font-size:12px;
    content: 'Retirer de la liste planning';
}

.gliphList,
.gliphBlock{
    color:darkslategrey;
    font-size:20px;
}

.gliphList:hover,
.gliphBlock:hover{
    transform: scale(1.5);
}
.gliphList[title]:hover:after,
.gliphBlock[title]:hover:after{
    padding: 4px 8px;
    position: absolute;
    top: 100%;
    left:-30px;
    white-space: nowrap;
    z-index: 50;
    border-radius: 5px;
    font-size:12px;
    color:darkslategrey;
}
.gliphList[title]:hover:after{
    content: 'Affichage liste';
}
.gliphBlock[title]:hover:after{
    content: 'Affichage en blocks';
}


/****************************************************************************************************************************************************************************************/
/*********************************************************   glyphicons heart/thList  pr  NAVBAR  **************************************************************************************/
/**************************************************************************************************************************************************************************************/
.myDropdown .heart[title]:hover:after,.myDropdownLight .heart[title]:hover:after{
    content: 'Mes recettes preferées';
}
.myDropdown .thList[title]:hover:after, .myDropdownLight .thList[title]:hover:after{
    content: 'Liste planning';
}
.myDropdown .heart[title]:hover:after,
.myDropdownLight .heart[title]:hover:after,
.myDropdown .thList[title]:hover:after,
.myDropdownLight .thList[title]:hover:after{
    color:white;
    left:-10px;
}
/*
.navBarHeart{
    color: #bfbfbf ;/*lightgrey++*
}
.navBarHeart > a > span:hover{
    color:red;
    transform: scale(1.5);
}
/*
.navBarHeart > a >span[title]:hover:after{
    content: 'Mes recettes preferées';
    color:white;
    left:-10px;
}
*/