<div ng-controller="WelcomeMealCtrl">

    <h2>Bienvenue dans easyMeals ! :)</h2>


    class body:{{classBody}} - recipeType: {{recipeTypee}}
<!--
    <br>
    THE ID : {{myId}}
    <br>
    <button ng-click="incrementId()" type="button" class="btn btn-success">INCREMENT</button>

    <br>
-->

    <span class="checkbox checkbox-info" >
        <input type="checkbox"  ng-model="showHelp"  id="idShowHelp" ng-change="toggleHelp()">
        <label for="idShowHelp" >
            MODE ACCOMPAGNEMENT
        </label>
    </span>

    <br>

    <div ng-show="showHelp" class="row" style="font-size: 15px; color:cornflowerblue" >

        <div class="col-md-12">

            <div  class="panel panel-default"  >
                <div class="panel-heading">
                    <h3 class="panel-title" style="color:cornflowerblue">Accompagnement</h3>
                </div>


                <div class="panel-body main-panel" style="color:cornflowerblue">
                    <div>Ce mode vous permet d'être guidé sur l'utilisation de ce site web</div>
                    <div>Utile pour le début essentiellement, vous pourrez désactiver ce mode par la suite</div>
                </div>
            </div>
        </div>
    </div>


    <br>



    <span class="checkbox checkbox-warning" >
        <input type="checkbox"  ng-model="showDebug"  id="idShowDebug" ng-change="toggleDebug()">
        <label for="idShowDebug" >
            SHOW DEBUG
        </label>
    </span>

    <br>

    <div ng-show="showDebug" class="row" style="font-size: 15px; color:darkorange" >

        <div class="col-md-12">

            <div  class="panel panel-default"  >
                <div class="panel-heading">
                    <h3 class="panel-title" style="color:darkorange">Debug</h3>
                </div>


                <div class="panel-body main-panel" style="color:darkorange">
                    <div>Ce mode permet d'afficher le contenu des objets pour aider à debugger</div>
                </div>
            </div>
        </div>
    </div>

    <br>









    <span class="checkbox checkbox-danger" >
        <input type="checkbox"  ng-model="showImprovement"  id="idShowImprovement" ng-change="toggleImpr()">
        <label for="idShowImprovement" >
            VISUALISER AMELIORATIONS !
        </label>
    </span>

    <br>



        <div ng-show="showImprovement" class="row" style="font-size: 15px; color:#d9534f" >

            <div class="col-md-12">

                <div  class="panel panel-default" >

                    <div class="panel-heading">
                        <h3 class="panel-title" style="color:#d9534f">Ameliorations/Bugs</h3>
                    </div>



                    <div panel-body main-panel style="color:#d9534f">
                        <h5 class="h5WelcomeMeal">General</h5>
                        <ul>
                            <li >Git : faire du menage (enlever TP1...)</li>
                            <br>
                            <li>INTERFACE PERSO pour trier recette a ajouter base commune...</li>
                            <br>
                            <li style="font-size: 20px; color:green">recup CSS ancien website angular projet novembre (cap) pour RECIPE</li>
                            <li style="font-size: 20px">CSS ...</li>
                            <li>css PICTURES...</li>
                            <li style="font-size: 20px">Mettre a jour les service (comme si on sauvegardait ds la base...)</li>
                        </ul>

                        <h5 class="h5WelcomeMeal">Recipe</h5>
                        <ul>
                            <li style="color: green">bloquer defilement avec scroll... => NO BOOTSTRAP FOR THIS : homemade CSS</li>
                            <li>optimiser l'affichage en francais "entree plat dessert" : displayRecipeType() se trouve de recipe-controller, recipeCreation-controller ET planning-controller => le mettre dans recipe-service</li>
                        </ul>

                        <h5 class="h5WelcomeMeal">Planning</h5>
                        <ul>
                            <li>FILTRES : remettre entree-plat-desserts</li>
                            <li>Colorer case planning lors event "onDropOver"</li>
                            <li style="color: lightgrey">reduire largeur border of recipe when dropped into planning => OUPAH : div trop complex et autre chose pas adapté..</li>
                            <li style="font-size: 20px">CORRIGER BUG lors de drag de recette (ex:burger) dans le drop de nbPers...gros mess ^^
                            <br>=> enlever le drag&drop de nbPers local ?</li>
                            <li>trash droppable ?? je ne me rappel plus l'utilite..</li>
                        </ul>

                        <h5 class="h5WelcomeMeal">ListShopping</h5>
                        <ul>
                            <li style="color: green">Prevoir d'envoyer la liste par email</li>
                            <li>(et eventuellement de l'imprimer sur une page a part ? -> moins important)</li>
                            <li style="color: green">lisShopping automatiquement triée par categorie (frais, legumes..etc)</li>
                            <li style="color: green">PAGE listShop où suppression des ingredient qu'on a ds le cadie</li>
                        </ul>

                        <h5 class="h5WelcomeMeal">Expenses</h5>
                        <ul>
                            <li>Prevoir de drag&drop les row entre elle</li>
                            <li style="font-size: 22px">ALLER voir ex. codeFormer Examples->filters with ngRepeat !!!!</li>
                            <li>peut regler pb des FILTRES pr planning & alcohol en mm tps!!</li>
                        </ul>

                        <h5 class="h5WelcomeMeal">Alcohol</h5>
                        <ul>
                            <li>(titre "prevoir boissons"! et non : "soiree alcoolise")</li>
                            <li>
                                permettre de choisir entre gerer la qty "boissons alcoolisees" ou "boissons non alcoolisees"
                            <br> => pour non alcoolisee : pareil : NB_PERS + NB_VERRES (de base 6) sauf que 1 verre tt le tps  : 20cl (par ex)</li>
                            <li>gerer le prix en indiquant un prix maximum ???</li>
                            <li>FILTRES : remettre bieres-vins-alcFort!</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>



    <div ng-show="showImprovement" class="row" style="font-size: 15px; color:#d9534f" >

        <div class="col-md-8">

            <div  class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title" >Done</h3>
                </div>


                <div class="panel-body main-panel" >

                    <ul>
                        <li >Faire un file "note" avec tous les details important (ex pour la nav deroulante avec fichier bootstrap!</li>
                        <li>NAV avec liste deroulante (RECETTES -> ENTREES/PLATS/DESSERTS)</li>
                        <li>ajout de BREAKFAST & SNACK avec entree/plat/desserts</li>
                        <li style="color:cornflowerblue">
                            Faire un mode accompagnement...
                        </li>
                        <li style="color:darkorange">
                            Faire un mode debug (comme improvement)- checkbox "debug" dans bar de nav ou endroit plus accessible
                        </li>
                        <li>tout en francais..</li>
                        <li>permettre de supprimer un ingredient de listShopping (petit dessins poubelle rouge)</li>
                        <li style="color:darkorange">
                            debugger le pb ds calcul depenses (ca plante quand on augmente le nbPers)
                            <br>-> resolue ! cf 'BUG EXPENSES -> INFINITE LOOP' dans notes.txt
                        </li>
                        <li>pouvoir surligner avec le curseur de la souris => CSS "::selection" (ou sur le texte)!</li>
                        <li>permettre de cocher les checkbox en cliquant ds TOUTE la CASE et non juste la box
                            <br>-> RESOLUE : augmentation size checkbox (cf NOTES.txt) </li>

                        <li>CSS alcohol in RED DONE! + :focus also in red</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>