<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#welcomeMeal">
                <!--<i class="fa fa-play-circle"></i>-->
                <span ng-class="{ activeInNavBarWelcome: classBody == 'bodyWelcome'}">
                    <span class="glyphicon glyphicon-fire"></span> EasyMeals<!--easyMeals Cuisiner Malîn-->
                </span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden" > <!-- style="width:100px;" ne fonctionne pas c une class hidden donc pas prix en compte par html -->
                    <a href="#/welcomeMeal" > </a>
                </li>

                <li class="page-scroll" ng-class="{ activeInNavBarRecipe: classBody == 'bodyRecipe'}"> <!--ng-class="{ activeInNavBarRecipe: isActiveInNavBar('recipe')}"-->
                    <a href="/#/recipe/course" >Recettes</a>
                </li>
                <li class="page-scroll" ng-class="{ activeInNavBarPlanning: classBody == 'bodyPlanning'}">
                    <a href="#/planning" ><!--Creation -->Plannings</a>
                </li>
                </li>
                <li class="page-scroll" ng-class="{ activeInNavBarErrand: classBody == 'bodyErrand'}">
                    <a href="#/errand" >Courses & Cuisine</a>
                </li>
                <!-- EXPENSES : important -->
                <li class="page-scroll" ng-class="{ activeInNavBarExpense: classBody == 'bodyExpense'}">
                    <a href="/#/calculationExpense">Dépenses</a>
                </li>


                <li ng-show="isUserConnected" class="page-scroll" ng-class="{ activeInNavBarConnexion: classBody == 'bodyConnexion'}" uib-dropdown is-open="dropdwonUserIsopen"
                                                                        ng-mouseenter="dropdwonUserIsopen = true" ng-mouseleave="dropdwonUserIsopen =false">
                    <a uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="spanNameUserConnected">{{userConnected.pseudo}}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class=" nav myDropDownConnexion" uib-dropdown-menu>
                        <li class="collapse navbar-collapse " ><a class="myDropdownItem myDisabledBtn" style="color:white">Mon Compte</a></li>
                        <li class="collapse navbar-collapse " ><a href="#" class="myDropdownItem" style="color:white" ng-click="logout()">Se Déconnecter</a></li>
                    </ul>
                </li>



                <li ng-show="!isUserConnected" class="page-scroll" ng-class="{ activeInNavBarConnexion: classBody == 'bodyConnexion'}">
                    <a href="#/connexion">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="spanNameUserConnected">Connexion</span>
                    </a>
                </li>


                <!------------------------------------------------ NAV BAR DROP DOWN with many button for each row !
                it works with Dropdown (ui.bootstrap.dropdown) :
                thanks to 'uib-dropdown' & 'is-open="isopen"' into the parent, then 'uib-dropdown-toggle' into the button and 'uib-dropdown-menu' on the menu which will dropdown
                ----------------------------------------------------------------------------------------------------------------

                <li class="page-scroll dropdown " ng-class="{ activeInNavBar: isActiveInNavBar('recipe')}"   uib-dropdown is-open="isopen">
                    <a class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                        boom<span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu nav myDropdownLight" uib-dropdown-menu>
                        <li class="collapse navbar-collapse " ><a href="#/planning">planning</a></li>

                        <li class="collapse navbar-collapse " >
                            <ul class="nav navbar-nav myNavBarNav">

                                <li class="page-scroll myDropdownItem typeRecipe" ng-class="{ activeInNavBar: isActiveInNavBar('starter')}" ><a href="#/recipe/starter">Entrees</a></li>
                                <li class="page-scroll myDropdownItem"  ><a href="#/recipe/starter/myFavorite">
                                    <span  title=""  class="glyphicon glyphicon-heart " ></span>
                                </a></li>
                                <li class="page-scroll myDropdownItem" ng-class="{ }" ><a href="#/recipe/starter/myPlanning">
                                    <span  title=""   class="glyphicon glyphicon-th-list"></span>
                                </a></li>
                            </ul>
                        </li>

                        <li class="collapse navbar-collapse " >
                            <ul class="nav navbar-nav myNavBarNav">
                                <li class="page-scroll myDropdownItem typeRecipe" ng-class="{ activeInNavBar: isActiveInNavBar('course')}"><a href="/#/recipe/course">Plats</a></li>
                                <li class="page-scroll myDropdownItem" ng-class="{ }" ><a href="#/recipe/course/myFavorite">
                                    <span  title=""   class="glyphicon glyphicon-heart "></span>
                                </a></li>
                                <li class="page-scroll myDropdownItem" ng-class="{ }" ><a href="#/recipe/course/myPlanning">
                                    <span  title=""   class="glyphicon glyphicon-th-list "></span>
                                </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                ------------------------------------------------------------------------------------------------------------------>






                <!-- LES BONNES IDEES  : important --

                <li class="page-scroll" ng-class="{ activeInNavBarIdea: classBody == 'bodyIdea'}">
                    <a href="#/idea" ><!--Les Bonnes ->Idées</a>
                </li>-->


                <!-- PRIVATE ADMIN : important -->
                <li ng-show="userConnected.isAdmin" class="page-scroll" ng-class="{ activeInNavBarPrivateAdmin: classBody == 'bodyPrivateAdmin'}">
                    <a href="/#/privateAdmin">PA</a>
                </li>
                <!-- DEBUG Important...
                <li class="page-scroll" >
                    <span class="checkbox checkbox-warning" >
                        <input type="checkbox"  ng-model="showDebug"  id="idShowDebug" ng-change="toggleDebug()">
                        <label for="idShowDebug" >
                            DEBUG
                        </label>
                    </span>
                </li>-->



                <!------------------------- USELESS BELOW ------------------------------->


                <!--
                <li class="page-scroll" ng-class="{ activeInNavBarRecipeDirty: classBody == 'bodyRecipeDirty'}">
                    <a href="/#/recipeDirty" ng-click="showIntoRecipe()">RecettesDirty</a>
                </li>
                -->

                <!-- ALCOHOL
                <li class="page-scroll" ng-class="{ activeInNavBarAlcohol: isActiveInNavBar('calculationAlcohol')}"> <!--ng-class="{ active: isActiveInNavBar('#/calculationAlcohol')}"->
                    <a href="/#/calculationAlcohol">Soirée Alcoolisée ?</a>
                </li>
                -->
                <!--
                <li class="page-scroll">
                    <a href="#/grilleImpot">Grille Impots</a>
                </li>
                <li class="page-scroll">
                    <a href="#/testDirective">Test Directives</a>
                </li>
                -->
            </ul>
        </div>
    </div>
</nav>