<div  ng-controller="CalculationAlcoholCtrl">

    <div><h2>Prevoir la quantité d'alcool</h2></div>


    <div class="row" style="color:darkslategrey">

        <div ng-class="{artAlcoholTopArticle: showHelp}"> <!-- artAlcoholTopArticle class qui prendra width=80vw; -->

            <div  class="panel panel-default" >
                <div class="panel-heading" style="color:darkslategrey">
                    <h3 class="panel-title">Logistique</h3>
                </div>


                <div class="panel-body main-panel" style="color:darkslategrey">


                    <div ng-show="showHelp" style="font-size: 18px; color:cornflowerblue">
                        <div style="font-size: 12px;">@ le mode accompagnement peut être désactivé dans l'accueil "EASYMEALS"</div>
                        <div>Ce module permet de prévoir la quantite d'alcool qu'il faut acheter en fonction du nombre de personnes et du type de soirée que l'on veut faire (soft, arrosée, très alcoolisée...)</div>
                        <div>Indication du nb de verres/pers. en fonction du type de Soirées :
                            <br> &nbsp - SOFT 2/3 verres &nbsp - ARROSEE 5/6 verres &nbsp - TRES ALCOOLISEE 8/9 verres</div>
                        <div><b>Fixer les nb de pers ainsi que la moyenne de verres/pers que l'on prevoit.</b></div>
                    </div>

                    <div ng-show="showImprovement" style="font-size: 20px; color:#d9534f">
                    </div>


                    <div>
                        <label>Nombre de personnes : </label>
                        &nbsp&nbsp<input class="fieldAlcohol" type="number" ng-model ='nbPers' min="1" style="width:60px"/>
                    </div>
                    <br>
                    <div>
                        <label>Moyenne de verres/pers : </label>
                        &nbsp&nbsp<input class="fieldAlcohol" type="number" ng-model ='nbGlass' min="1" style="width:60px"/>
                        <br>(Un verre = 25cl biere / 10cl vin / 3 cl alcool fort)
                    </div>

                    <!-- DEBUG -->
                    <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
                        <div>total nbGlass = {{totalNbGlass}}</div>
                        <div>total amount alcohol = {{totalAmountAlcohol}}</div>
                    </div>
                    <!---->
                </div>
            </div>
        </div>
    </div>



    <br>
    <br>





    <div class="row" style="color:darkslategrey" >
        <div class="col-md-2" >

            <div>
                <div><button style="width:150px;" class="btn btn-danger" ng-click="selectAlcoholType('bieres')"> Bieres </button></div>
                <br>
                <div><button style="width:150px;" class="btn btn-danger" ng-click="selectAlcoholType('vins')">  Vins </button></div>
                <br>
                <div><button style="width:150px;" class="btn btn-danger" ng-click="selectAlcoholType('forts')"> Alcools forts </button></div>
                <br>
            </div>

        </div>
        <div class="col-md-10">

            <div  class="panel panel-default" >
                <div class="panel-heading" style="color:darkslategrey">
                    <div class="row" style="color:darkslategrey">
                        <h3 class="col-md-2 panel-title">{{alcoholType}}</h3>
                        <div class="col-md-6">
                        </div>

                        <div class="col-md-4" style="font-size:15px">
                            <span   class="glyphicon glyphicon-search " ></span>
                            &nbsp
                            <input  type="text" ng-model="searchAlcohol" placeholder="nom ou degre" style="border:none; ">
                        </div>
                    </div>

                </div>

                <div class="panel-body main-panel" >

                    <div class="row" style="color:darkslategrey">
                        <div class="col-md-8">

                            <div ng-show="showHelp" style="font-size: 18px; color:cornflowerblue">
                               <div>
                                    <b>Faire glisser les boissons dans la liste ci-dessous</b> en ayant pris soin de selectionner le volume (sur la droite)
                                </div>
                            </div>


                            <div ng-repeat="alcohol in alcohols  | filter : searchAlcohol " style="display:inline-block ">
                                <div  class="itemToDragAlcohol "
                                       data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone'}" ng-model="alcohols" ng-show="alcohol.name"
                                       jqyoui-draggable="{index: {{$index}},placeholder:'keep', deepCopy:true}"
                                       title="{{displayAlcoholDetail(alcohol)}}">
                                    {{alcohol.name}} &nbsp({{alcohol.degre}}°)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div  ng-repeat="filterQty in filterQties" class="radio radio-danger teste">
                                <input class="testa" type="radio" ng-model="$parent.filterQtyChosen" ng-value="filterQty.cl"
                                       checked="checked" id="filterQty{{filterQty.id}}">
                                <label for="filterQty{{filterQty.id}}">
                                    {{filterQty.name}}
                                </label>
                            </div>

                            <!-- DEBUG -->
                            <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
                                <div>filterQtyChosen : {{filterQtyChosen}}</div>
                            </div>
                            <!---->

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <br>
    <br>




    <!-- DEBUG -->
    <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
        <div>
            alcohols :
            <br>
            {{alcohols}}
            <br>
            <br>
            chosenAlcohols:
            <br>
            {{chosenAlcohols}}
        </div>
    </div>
    <!---->


    <div class="row" style="color:darkslategrey">
        <div class="col-md-12">

            <div  class="panel panel-default" >
                <div class="panel-heading" style="color:darkslategrey">
                    <h3 class="panel-title">Liste Alcools</h3>
                </div>


                <div class="panel-body main-panel" >

                    <div class="row" style="color:darkslategrey">

                        <div id="listDrop" class="col-md-6" data-drop="true" ng-model='chosenAlcohols'  jqyoui-droppable="{multiple:true , onOver:'onOverListDrop()', onOut:'onOutListDrop()', onDrop:'onOutListDrop()'}"
                             style="min-height:200px; border-radius:3px; margin:5px; padding:7px; ">
                            <!--border:1px solid lightgrey; -->


                            <!-- apparement pas util.."track by $index" qui sert normalement a autoriser des doublon ds la list cible (de drop) -->
                            <div  class="itemDroppedAlcohol " ng-repeat="chosenAlcohol in chosenAlcohols "
                                 data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone'}" ng-model="chosenAlcohols" ng-show="chosenAlcohol.name"
                                 jqyoui-draggable="{index: {{$index}},placeholder:false}"   >

                                {{chosenAlcohol.name}}({{chosenAlcohol.degre}}°) &nbsp {{chosenAlcohol.txtQty}} &nbsp  &nbsp
                                - &nbsp {{chosenAlcohol.price}}€
                                &nbsp&nbsp&nbsp{{displayNbItem(chosenAlcohol)}}
                            </div>
                            <div></div>



                        </div>


                        <div class="col-md-5">

                            <br>
                            <div style="font-size: 20px;">
                                <span ng-show="isGlassLeft"> Vous avez une marge de  </span>
                                <span style="color:{{colorGlassLeft}}; font-size: 50px;"> {{nbGlassLeft | number:0}}</span>  verres
                                <span ng-show="!isGlassLeft"> en TROP!</span>
                            </div>

                            <!-- DEBUG -->
                            <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
                                <div>totalAmountAlcohol: {{totalAmountAlcohol}}</div>
                            </div>
                            <!---->


                            <br>
                            <div id="trashAlcohol" class="glyphicon glyphicon-trash" style="font-size: 80px; color:#d9534f"
                                 data-drop="{{dataDropTrash}}" ng-model='trash'  jqyoui-droppable="{multiple:true, onOver:'onOverTrash()', onOut:'onOutTrash()', onDrop:'onOutTrash()'}"  > <!-- , onOver:'onOverTrash()', onOut:'onOutTrash()' }" -->

                            </div>

                            <!-- DEBUG -->
                            <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
                                <div>trash: {{trash}}</div>
                            </div>
                            <!---->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>