<div  ng-controller="CalculationExpenseCtrl" >

    <div><h2>Calcul des dépenses</h2></div>

    <article class="myArticle artParameter " ng-class="{artParameterHelp : showHelp}"> <!-- IMPROVEMENT class={{largeExpense}} (var into global-controller for mode accompagnement)-->
        <div class="myArticleHeading">
            <div class="myArticleTitle">Parametres</div>
        </div>
        <div class="myArticleBody" >
            <div ng-show="showHelp" style="font-size: 18px; color:cornflowerblue">
                <div style="font-size: 12px;">@ le mode accompagnement peut être désactivé dans l'accueil "EASYMEALS"</div>
                <div>Le calcul de dépense permet de saisir toutes les dépenses de chacun des membres du groupe et de voir facilement qui doit rembourser qui</div>
                <div><b>Selectionner le nombre de personnes composant le groupe (même si certains n'ont rien payé)</b></div>
            </div>
            <div>
                <label>Nombre de personnes : </label>
                &nbsp&nbsp<input class="fieldExpense fieldExpenseNbPers" type="number" ng-model ='nbPers' ng-change="updatePersons()" min="1"/>
            </div>
        </div>
    </article>


    <article class="myArticle artWhoPaidWhat" >

        <div class="myArticleHeading">
            <div class="myArticleTitle">QUI à payé QUOI à QUI ?</div>
        </div>

        <div class="myArticleBody" >
            <!-- DEBUG -->
            <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
                <div ng-repeat="row in rows" >
                    {{row}}<br>
                </div>
            </div>
            <div ng-show="showHelp" style="font-size: 18px; color:cornflowerblue">
                <div ><b>Il est possible de saisir le prenom des membres du groupe directement dans chaque en-têtes de colonne</b></div>
            </div>

            <table class="table table-hover table-bordered">
                <th class="success myThExpense thExpenseAPaye">A payé</th> <!-- style="background-color: lightgreen" -->
                <th class="success myThExpense thExpensePrix">Prix (€)</th> <!-- this success :#dff0d8 -->
                <th class="success myThExpense thExpenseDesc">Description</th>
                <th class="success myThExpense thExpenseFieldName" ng-repeat="person in persons">
                    <input  class="fieldExpense fieldExpenseTH"  type="text"  ng-model="person.name" >
                </th>
                <th class="success myThExpense ">All</th><!--#5cb85c(success) lightgreen -->
                <th class="success myThExpense" >Supp.</th>


                <tr ng-repeat="row in rows" >
                    <!--{
                    buyer:'fab',
                    price:30,
                    listChecked:[true, false],
                    checkedAll:false,
                    description:'pour les courses'
                    -->

                    <!-- PERSON WHO PAID -->
                    <td>
                        <!--<select class="fieldExpense"  ng-model='row.buyerId'  >
                            <option ng-repeat="person in persons" value="{{person.id}}">{{person.name}}</option>
                        </select>-->
                        <select class="fieldExpense"  ng-model='row.buyerId' ng-options='person.name for person.id in persons'></select>
                    </td>
                    <!-- FIELD PRICE -->
                    <td><input class="fieldExpense" type="number" min="0"  ng-model="row.price" ></td>

                    <!-- DESCRIPTION -->
                    <td><textarea rows="1" class="fieldExpense fieldExpenseDescrip" >{{row.description}}</textarea></td>

                    <!-- CHECKBOXES -->
                    <td ng-repeat="isChecked in row.listChecked" ><!-- ng-click="toggleCheckList(isChecked, row)" --fonctionne pas car en double avec le click sur la checkbox en elle meme !!>-->
                        <span class="checkbox checkbox-success checkboxExpense">
                             <input type="checkbox"  ng-model="isChecked.bool" ng-change="aPersonColumnChecked(row)" id="{{isChecked.id}}+idRow{{row.id}}">
                             <label for="{{isChecked.id}}+idRow{{row.id}}" ></label>
                        </span>
                    </td>
                    <!-- CHECKBOX ALL -->
                    <td class="tdExpenseCheckboxAll">
                        <span class="checkbox checkbox-warning checkboxExpenseAll" >
                             <input type="checkbox"  ng-model="row.checkedAll" ng-change="aAllChecked(row)" id="idCheckedAll+{{row.id}}">
                             <label for="idCheckedAll+{{row.id}}" >
                                 <!-- DEBUG -->
                                 <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
                                     <div >{{row.checkedAll}}</div>
                                 </div>
                                 <!---->
                             </label>
                        </span>
                    </td>
                    <!-- DELETE ROW -->
                    <td class="tdExpenseTrash">
                        <!--<button type="button" class="btn btn-success" ng-click="deleteRowExpense(row)">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>-->
                        <span ng-click="deleteRowExpense(row)" class="glyphicon glyphicon-trash trashRowExpense glyphiconBtn" ></span>

                    </td>

                       </tr>
            </table>

            <button type="button" class="btn btn-success" ng-click="addRowExpense()">
                <span class="glyphicon glyphicon-plus"></span> Ligne
            </button>

            <br>
            <div ng-show="showImprovement" style="font-size: 15px; color:#d9534f">
            </div>
        </div>

    </article>


    <!-- DEBUG -->
    <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
        <div >{{tabExpense}}</div>
        <div ng-repeat="couple in tabCouple" >{{couple}}</div>
    </div>
    <!---->


    <article class="myArticle artResult" >
        <div class="myArticleHeading">
            <div class="myArticleTitle">Résultats des remboursements</div>
        </div>
        <div class="myArticleBody artBodyResult" >
            <div ng-repeat="couple in tabCouple" >
                <span>{{couple.debtGuy.name}}</span> -> {{couple.amount}}€ à {{couple.benefitGuy.name}}
            </div>
            <br>
            (-> : "doit")
            <br>
        </div>
    </article>

</div>