
<div>

    <h2 class="titleWelcome"> Bienvenue sur EasyMeals &#9786; </h2> <!--black &#9787; &#x263B;      white : &#9786; &#x263A;   -->

    <!--current user :::::: {{userConnected}}-->



    <div class="quotePhrase">"J'ai 5 enfants à la maison, c'est difficile d'organiser les repas pour la semaine"</div>
    <div class="quotePhrase">"Toujours un casse-tête de savoir quoi faire à manger cette semaine !!"</div>
    <div class="quotePhrase">"Organiser des vacances pour 10 c'est vraiment pas simple..."</div>


    <div class="divCatchPhrase">

        <div class="catchPhraseBig"> Mais avec <b>EasyMeals</b> les courses c'est FACILE !!</div>
        <div > Fini les casse-têtes, place à la <b>Simplicité</b> et la <b>Rapidité</b> </div>
    </div>




    <div class="divStepWelcome">
        <div class="stepOneWelcome theFourStepWelcome">
            <div class="titleStepWelcome titleStepOneWelcome">Etape 1</div>
            Je consulte et/ou créé des recettes
            <div class="btn btn-warning notTransformText lineStep1" ng-click="goRecipe()">Go Recettes!</div>
        </div>
        <div class="stepTwoWelcome theFourStepWelcome">
            <div class="titleStepWelcome titleStepTwoWelcome">Etape 2</div>
            Je fais mon planning de la semaine
            <div class="btn btn-info notTransformText lineStep2" ng-click="goPlanning()">Go Plannings!</div>
        </div>
        <div class="stepThreeWelcome theFourStepWelcome">
            <div class="titleStepWelcome titleStepThreeWelcome">Etape 3</div>
            Je vais faire mes courses
            <div class="btn btn-danger notTransformText lineStep3" ng-click="goErrand()">Go Courses!</div>
        </div>
        <div class="stepFourWelcome theFourStepWelcome">
            <div class="titleStepWelcome titleStepFourWelcome">Etape 4</div>
            Je cuisine !
            <div class="btn btn-rosybrown notTransformText lineStep4" ng-click="goErrand()">Go Cuisine!</div>
        </div>
    </div>



</div>