
<div>

    <h2 class="titleWelcome"> Bienvenue sur EasyMeals &#9786; </h2> <!--black &#9787; &#x263B;      white : &#9786; &#x263A;   -->

    <!--current user :::::: {{userConnected}}-->



    <div class="quotePhrase">"J'ai 5 enfants à la maison, c'est toujours difficile d'organiser les repas pour la semaine"</div>
    <div class="quotePhrase">"Toujours un casse-tête de savoir quoi faire à manger cette semaine !!"</div>
    <div class="quotePhrase">"Organiser des vacances pour 10 c'est pas simple..."</div>


    <div class="divCatchPhrase">

        <div class="catchPhraseBig"> Mais avec <b>EasyMeals</b> les courses c'est FACILE !!</div>
        <div > Fini les casse-têtes, place à la <b>Simplicité</b> et <b>Rapidité</b> </div>
    </div>




</div>