
<!--
<article class="myArticle">
    <div class="myArticleHeading" >
        <div class="myArticleTitle">myNameTitle</div>
    </div>
    <div class="myArticleBody">
    </div>
</article>
-->


<div ng-controller="WelcomeMealCtrl">

    <h2 class="myH2">Bienvenue dans easyMeals ! :)</h2>
    current user :::::: {{userConnected}}


    <!--
        class body:{{classBody}} - recipeType: {{recipeTypee}}
        <br>
        THE ID : {{myId}}
        <br>
        <button ng-click="incrementId()" type="button" class="btn btn-success">INCREMENT</button>

        <br>
    -->


    <!------------------------------------------------------------------------- MODE ACCOMPAGNEMENT ---------------------------------------------------------------------------->

    <span class="checkbox checkbox-info" >
        <input type="checkbox"  ng-model="showHelp"  id="idShowHelp" ng-change="toggleHelp()">
        <label for="idShowHelp" >
            MODE ACCOMPAGNEMENT
        </label>
    </span>

    <br>



    <article ng-show="showHelp" class="myArticle" style="font-size: 15px; color:cornflowerblue">
        <div class="myArticleHeading" >
            <div class="myArticleTitle">Accompagnement</div>
        </div>
        <div class="myArticleBody">
            <div>Ce mode vous permet d'être guidé sur l'utilisation de ce site web</div>
            <div>Utile pour le début essentiellement, vous pourrez désactiver ce mode par la suite</div>
        </div>
    </article>

    <br>


    <!------------------------------------------------------------------------- MODE DEBUG ---------------------------------------------------------------------------->

    <span class="checkbox checkbox-warning" >
        <input type="checkbox"  ng-model="showDebug"  id="idShowDebug" ng-change="toggleDebug()">
        <label for="idShowDebug" >
            SHOW DEBUG
        </label>
    </span>

    <br>



    <article ng-show="showDebug" class="myArticle" style="font-size: 15px; color:darkorange">
        <div class="myArticleHeading" >
            <div class="myArticleTitle">Debug</div>
        </div>
        <div class="myArticleBody">
            <div>Ce mode permet d'afficher le contenu des objets pour aider à debugger</div>
        </div>
    </article>


    <br>


    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------- MODE AMELIORATION  ---------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------->


    <span class="checkbox checkbox-danger" >
        <input type="checkbox"  ng-model="showImprovement"  id="idShowImprovement" ng-change="toggleImpr()">
        <label for="idShowImprovement" >
            VISUALISER AMELIORATIONS !
        </label>
    </span>

    <br>


    <article ng-show="showImprovement" class="myArticle" style="font-size: 15px; color:#d9534f">
        <div class="myArticleHeading" >
            <div class="myArticleTitle">Ameliorations/Bug</div>
        </div>
        <div class="myArticleBody">


            <h5 class="h5WelcomeMeal">MATHOU commentaires :p</h5>
            <ul>
                <li style="text-decoration: line-through;">[CSS]BOOTSTRAP OUT !! -> panel panel-default - panel-heading - panel-body  main-panel</li>
                <li> LIST SHOPPING</li>
                <li> couper controllers : planning & planningShoppingList</li>
                <li> planningShoppingList -> drag&drop ? + button sauvegarder & email + add new ingredient direct ds categorie</li>

                <li >filter into drag&drop toFIX</li>
                <li>gerer affichage list qtity into planning (ex 1000g => 1kg, 1250g => 1kg250, pr g : pas de virgule)</li>
                <li>COCKTAIL : pouvoir selectionner nb pers directement par cocktail
                    (ex : mojito pr 2pers, sex and the beach pr 10pers)</li>
                <li>CSS Expenses (table)</li>
                <li> planning & recipe FILTER : directive ?</li>
                <li>Have a look into RECIPE section ...!</li>
                <li>Our private page to manage the new public creation of recipes (and new ingredients)</li>

                <li>[CSS]BOOTSTRAP OUT !! -> btn ?? (btn-success..etc)</li>
                <li>clean html where "style="... cf planning (toFill, listShop etc)</li>

                <li > J'aime pas trop mes recettes préférés et liste planning dans la navbar :s </li>
            </ul>




            <h5 class="h5WelcomeMeal" style="color:darkslategrey">General</h5>
            <ul style="color:darkslategrey">
                <li style="font-size: 18px">RESPONSIVE - adapter avec javascript : si la page est plus petite que n px : plus de margin (ds recipe par ex !!)</li>
                <li style="font-size: 18px">RESPONSIVE : adapter avec javascript #2: [recipe] si largeur ecran trop petite enlever margin entre 2 article (filtre & list) + margin into list</li>
                <li style="font-size: 18px">RESPONSIVE : adapter avec javascript #3: [recipe] si hauteur ecran trop petite enlever filtre fixed...(laisser static tt en haut...)</li>
                <li style="font-size: 18px"> GERER TOUTES fonctions communes recipe & planning into COMMUN service !</li>
                <li style="font-size: 18px">ALLER voir ex. codeFormer Examples->filters with ngRepeat !!!!</li>
                <li style="font-size: 18px"> Voir sur tp angular MAth exemple stylé de formulaire !!</li>
                <li >Git : faire du menage (enlever TP1...)</li>
                <li>INTERFACE PERSO pour trier recette a ajouter base commune...</li>
                <li>css PICTURES...</li>
                <li >Mettre a jour les service (comme si on sauvegardait ds la base...)</li>
                <li>ameliore avec APPLI (pr alcohol )</li>
                <li>APPLI simplifiée pour planning (pas de creation de meal..)</li>
                <li>mangerMieux.com ???</li>
                <li>avec des concepts de meilleur bouff avec un bonhomme qui smile en fonction de ce quon prevoi pr la semaine</li>
                <li>aussi ajouter le cote CALORIE et a faire attention a ce qu'on mange (toinou est sur le coup :))</li>
            </ul>

            <h5 class="h5WelcomeMeal" style="color:darkorange">Recipe</h5>
            <ul style="color:darkorange">
                <li> CSS : size IMG quand description open (help with the img opened in new tab)</li>
                <li> CREATION recipe  => en choisissant types, recipeOrigin etc!</li>
                <li> MODIF recipe -> rendre possible</li>
                <li> pouvoir ajouter(uploader)/modifier une IMAGE pr une recette</li>
                <li> DISPLAY recipe -> completer avec categories, nationalite, NOTE  </li>
                <li> => mettre en place RATING SYSTEM</li>
                <li> ADD INFOs sur rectte : duree preparation , nivo complexite, calori etc</li>
                <li>pb scroll with listFilter (fix/float...) (for starter bug)</li>

                <li>Algo autocompletion pour ingredients...</li>
                <li style="font-size: 20px">ameliorer filtre ingredients : faire que le text est contenu ds food
                    (ex si on recherche pate on veut voir "pate feuillete" et "patepain" etc..) ne pas etre stricte sur les accents, et 's' pluriel a negliger...</li>

                <li style="text-decoration: line-through;"> depuis creation de recette -> boutton retour recettes</li>
                <li style="text-decoration: line-through;"> Vue icon possibilité de voir la recette sans l'ouvrir ds nouvel onglet ? </li>
                <li style="text-decoration: line-through;"> Affichage icon : cliquer sur le nom de la recette </li>
                <li style="text-decoration: line-through;"> Affichage icon : nom recettes longues </li>
                <li style="text-decoration: line-through;">ajouter bouton fullscreen (glyphicon glyphicon-fullscreen) qui ouvre la recette en grand
                    (nouvel onglet ?? : glyphicon glyphicon-new-window)</li>
                <li style="text-decoration: line-through;">trier par...</li>
                <li style="text-decoration: line-through;">faire fonctionner route avec NAVBAR raccourci category... </li>
                <li style="text-decoration: line-through;">faire des possibilite denregistre les recette ds favoris / plat pr la semaine</li>
                <li style="text-decoration: line-through;"> mettre les recette en mode accordeon avec que |photo - nom| + si on clique dessus -> description..</li>
                <li style="text-decoration: line-through;"> pouvoir selectionne type affichage (liste ou en mode block d'images cote a cote
                    avec nom recette dessous petit : comme le dessins fb de math)</li>
                <li style="text-decoration: line-through;">nav de gauche : plus les nom des recettes mais des filtres
                    (vegetarien, viande, plat rapide, recherche par ingredient/list dingredients)</li>
                <li style="text-decoration: line-through;">bloquer defilement avec scroll... => NO BOOTSTRAP FOR THIS : homemade CSS</li>

            </ul>

            <h5 class="h5WelcomeMeal" style="color:cornflowerblue">Planning</h5>
            <ul style="color:cornflowerblue">
                <li>IMPORTANT !! : qd click sur "generer liste course" -> automaticaly scroll down to see the list.. sinn les gens pensent pas à descendre</li>
                <li>COLOR all cornflower ?</li>
                <li>FILTRES ... cf recipe (buttons entree plat dessert disposés horizontalement tout en haut, puis en dessous mettre filtre a gauche et list de recette a droite un peu comme section RECETTES</li>
                <li>Colorer case planning lors event "onDropOver"</li>
                <li style="color: lightgrey">reduire largeur border of recipe when dropped into planning => OUPAH : div trop complex et autre chose pas adapté..</li>
                <li style="font-size: 20px">CORRIGER BUG lors de drag de recette (ex:burger) dans le drop de nbPers...gros mess ^^
                    <br>=> enlever le drag&drop de nbPers local ?</li>
                <li>trash droppable ?? je ne me rappel plus l'utilite..</li>
            </ul>

            <h5 class="h5WelcomeMeal" style="color:hotpink">ListShopping</h5>
            <ul style="color:hotpink">
                <li>Prevoir d'envoyer la liste par email</li>
                <li>(et eventuellement de l'imprimer sur une page a part ? -> moins important)</li>
                <li >lisShopping automatiquement triée par categorie (frais, legumes..etc)</li>
                <li >PAGE listShop où suppression des ingredient qu'on a ds le cadie</li>
            </ul>

            <h5 class="h5WelcomeMeal" style="color:limegreen">Expenses</h5>
            <ul style="color:limegreen">
                <li> ajuster les taille pr le mode improvement ( cf 'IMPROVEMENT' in calculationExpense.html)</li>
                <li>Prevoir de drag&drop les row entre elle</li>
                <li>peut regler pb des FILTRES pr planning & alcohol en mm tps!!</li>
            </ul>

            <h5 class="h5WelcomeMeal" >Alcohol</h5>
            <ul>
                <li>(titre "prevoir boissons"! et non : "soiree alcoolise")</li>
                <li>
                    permettre de choisir entre gerer la qty "boissons alcoolisees" ou "boissons non alcoolisees"
                    <br> => pour non alcoolisee : pareil : NB_PERS + NB_VERRES (de base 6) sauf que 1 verre tt le tps  : 20cl (par ex)</li>
                <li>gerer le prix en indiquant un prix maximum ???</li>
                <li>FILTRES : remettre bieres-vins-alcFort!</li>
                <li>afficher nb de verre environ dun element de la liste (sil faut retirer on sait....)</li>
            </ul>
        </div>
    </article>


    <br>
    <br>

    <article ng-show="showImprovement" class="myArticle" style="font-size: 15px; color:#d9534f; width:60vw;">
        <div class="myArticleHeading" >
            <div class="myArticleTitle">Done</div>
        </div>
        <div class="myArticleBody">
            <ul>
                <li >Faire un file "note" avec tous les details important (ex pour la nav deroulante avec fichier bootstrap!</li>
                <li>NAV avec liste deroulante (RECETTES -> ENTREES/PLATS/DESSERTS)</li>
                <li>ajout de BREAKFAST & SNACK avec entree/plat/desserts</li>
                <li style="color:cornflowerblue">
                    Faire un mode accompagnement...
                </li>
                <li style="color:darkorange">
                    Faire un mode debug (comme improvement)- checkbox "debug" dans bar de nav ou endroit plus accessible
                </li>
                <li>tout en francais..</li>
                <li>permettre de supprimer un ingredient de listShopping (petit dessins poubelle rouge)</li>
                <li style="color:darkorange">
                    debugger le pb ds calcul depenses (ca plante quand on augmente le nbPers)
                    <br>-> resolue ! cf 'BUG EXPENSES -> INFINITE LOOP' dans notes.txt
                </li>
                <li>pouvoir surligner avec le curseur de la souris => CSS "::selection" (ou sur le texte)!</li>
                <li>permettre de cocher les checkbox en cliquant ds TOUTE la CASE et non juste la box
                    <br>-> RESOLUE : augmentation size checkbox (cf NOTES.txt) </li>

                <li>CSS alcohol in RED DONE! + :focus also in red</li>

                <li >recup CSS ancien website angular projet novembre (cap) pour RECIPE</li>
            </ul>
        </div>
    </article>


    <br>
    <br>



    <article ng-show="showImprovement" class="myArticle" style="font-size: 15px; color:lightgrey ; width:60vw;">
        <div class="myArticleHeading" >
            <div class="myArticleTitle">IDEES futurs</div>
        </div>
        <div class="myArticleBody">
            <ul>
                <li>Idee partage de recette (envoyer email ou lien a des user) et specifier si accept de montrer ses recettes private </li>
                <li> parler des recettes a gilles!! </li>
                <li >Ajouter posssibilite de faire semaine healty => dietetique !!</li>
                <li >Faire marche le drive (leclerc, monop ..^^) (avec des filtres genre produits bio, produits pas chere, produit bonne qualite etc..)</li>
                <li >Quand les gens mettent leur plat ds planning calculer les calories et faire un bonhome qui smile ou non etc...</li>
                <li >MANGER-MIEUX.COM  !!! le but n'est pas de se priver mais bien manger quand mm! ce site calcul le bon equilibre!</li>
                <li> faire le planning en mode appli (ios/android)</li>
                <li>separer la partie alcohol !! Petite appli independante : BoireMieux.com :p avec option cocktails etc</li>
                <li>pour grosse entreprise/cantine !</li>
            </ul>
        </div>
    </article>



</div>