<section ng-controller="RecipeCtrl">

    <div class="titleRecipe contourTxt"><h2>Recettes : {{displayRecipeType()}}</h2></div> <!-- titleRecipe initilisee -->


    <div class="divRecipesType">

        <button  ng-click="changeRecipeType('accueil')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeType"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('accueil')}">
            Accueil <!--href="#/recipeAccueil"-->
        </button>
        <button  ng-click="changeRecipeType('starter')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeType"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('starter')}">
            Entrees
        </button>
        <button  ng-click="changeRecipeType('course')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeType"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('course')}">
            Plats
        </button>
        <button  ng-click="changeRecipeType('dessert')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeType"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('dessert')}">
            Desserts
        </button>
        <button  ng-click="changeRecipeType('breakfast')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeType"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('breakfast')}">
            Dej- Goûters
        </button>
        <button  ng-click="changeRecipeType('cocktail')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeType noMarginRight"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('cocktail')}">
            Cocktails
        </button>

        <!--
        <button class="btn btn-info btnRecipeType" ng-click="changeRecipeType('starter')" >Entrees</button>
        <button class="btn btn-info btnRecipeType" ng-click="changeRecipeType('course')" >Plats</button>
        <button class="btn btn-info btnRecipeType" ng-click="changeRecipeType('dessert')" >Desserts</button>
        <button class="btn btn-info btnRecipeType" ng-click="changeRecipeType('breakfast')"  >Dej- Goûters</button>
        <button class="btn btn-info btnRecipeType" ng-click="changeRecipeType('cocktail')">Cocktails</button>
        -->
    </div>


    <div ng-show="recipeType != 'accueil'" ng-controller="FilterCtrl">
        <recipe-filter></recipe-filter>
        <recipe-list></recipe-list>
    </div>



    <div ng-show="recipeType == 'accueil'">
        <recipe-accueil></recipe-accueil>
    </div>

</section >
