<article class="myArticle artRecipeCreation" ng-controller="RecipeCreationCtrl">

    <div class="myArticleHeading artHeadingRecipeCreation" >
        <div class="myArticleTitle titleInlineBlock">Creation {{displayRecipeType}}</div>
        <div class="rightInlineBlock">
            <a href="#/recipe/{{recipeType}}"  class="btn btn-warning">
                Revenir aux recettes
                &nbsp
                <span   class="glyphicon glyphicon-share-alt " ></span>
            </a> <!--creer nouveau plat-->

        </div>
    </div>

    <div class="myArticleBody">
        <form role="form" class="css-form">
            <div class="form-group">
                <div><label>Nom recette:</label></div>
                <input type="text" ng-model ='recipe.name' maxlength="20" placeholder="Ex: Lasagnes" required />
            </div>
            <div class="form-group">
                <div><label>Recette pour <input style="width:40px" type="number" ng-model ='recipe.nbPerson' min="1" placeholder="Ex:4" required/> personne(s)</label></div>

            </div>
            <div class="form-group">
                <div><label>Ingrédient(s): (quantité, unité, nourriture)</label></div>

                <div ng-repeat="ingredient in recipe.ingredients | ">
                    <input style="width:60px" type="number" ng-model ='ingredient.qty' min="0"  step="{{step}}" placeholder="Ex: 50"  required />
                    <select ng-model='ingredient.unit' ng-change="changeValSelect(ingredient)" ng-options='unit for unit in units' ></select>
                    <input type="text" ng-model ='ingredient.food' placeholder="Ex: tomato" required />
                    <button type="button" class="btn btn-default" ng-click="removeRowIngredient($index,ingredient)"> <!-- $index indique l'index du ng-repeat -->
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
                <button type="button" class="btn btn-default" ng-click="addRowIngredient()">
                    <span class="glyphicon glyphicon-plus"></span> ingredients
                </button>
            </div>
            <div class="form-group">
                <div><label>Description:</label></div>
                <textarea name="comment" ng-model ='recipe.description' placeholder="Ex: Recette tip top" style="width:25vw; min-width:200px;">Enter text here...</textarea>
            </div>
            <br>
            <input type="submit" value="Add recipe : {{recipe.name}}" ng-click="addRecipe(recipe)" class="btn btn-success"/>
        </form>
    </div>

</article>