
<div class="divRecipeRight">

    <div class="divRecipesType">
        <button  ng-click="changeRecipeType('starter')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeTypeV2"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('starter')}">
            Entrees
        </button>
        <button  ng-click="changeRecipeType('course')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeTypeV2"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('course')}">
            Plats
        </button>
        <button  ng-click="changeRecipeType('dessert')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeTypeV2"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('dessert')}">
            Desserts
        </button>
        <button  ng-click="changeRecipeType('breakfast')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeTypeV2"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('breakfast')}">
            Dej- Goûters
        </button>
        <button  ng-click="changeRecipeType('cocktail')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeTypeV2 noMarginRight"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('cocktail')}">
            Cocktails
        </button>
    </div>
    <article  class="myArticle"> <!--id="listRecipe"-->

        <div class="myArticleHeading" >
            <div class="myArticleTitle titleInlineBlock">Liste {{displayRecipeType()}}</div>
            <div class="rightInlineBlock rightHeadingSearch">
                <div class="buttonsDisplayLegende fieldRecipeLegend cursorPointer" uib-popover-template="'myPopoverTemplate.html'" popover-trigger="outsideClick" popover-placement="bottom">
                    Legende
                    <!--popover--> <script type="text/ng-template" id="myPopoverTemplate.html">
                                        <div><span class="glyphicon glyphicon-heart heart heartTaken fontSize20"></span> &nbsp Ajouter/retirer une recette dans sa liste de favorites</div>
                                        <div><span class="glyphicon glyphicon-pushpin thList thListTaken fontSize20"  ></span> &nbsp Ajouter/retirer une recette dans sa liste spéciale planning</div>
                                        <div> => Ces listes permettent de "mémoriser" des recettes pour les retrouver rapidement grace au filtre
                                            "Affiner La Recherche" (également dans PLANNINGS)  </div>
                                        <br>
                                        <div><span class="glyphicon glyphicon-new-window newWindow fontSize20"></span> &nbsp Ouvrir la recette dans un <b>nouvel onglet</b></div>
                                        <div><span class="glyphicon glyphicon-th-list modalFillPlanning fontSize20"></span> &nbsp <b>Ajouter directement une recette dans son planning</b></div>
                                    </script>
                </div>
                <span   class="glyphicon glyphicon-search " ></span>
                &nbsp
                <input class="inputRecipeSearch" type="text" ng-model="search.name" placeholder="nom d'une recette"> <!-- search.name permet de rechercher uniquement sur le champ name de recipe-->
            </div>
        </div>


        <div class="myArticleBody artBodyListRecipe">

            <div class="divTopListRecipe">
                <!-- <div>{{recipes[0].name}} - {{recipesToDisplay[0].name}}  </div>-->


                <button ng-click="emptyRecipesImg()">empty img</button>
                <button ng-click="reputRecipeImage()">refull img</button>
                <button ng-click="reputRecipePixxes()">refull PIX</button>

                <div class="buttonCreate" ng-controller="ModalCreationRecipeCtrl">
                    <!--<a href="#/recipeCreation/{{recipeType}}"  class="btn btn-warning"> {{displayButtonCreationRecipeType()}}</a> <!--creer nouveau plat-->
                    <div class="btn btn-warning" ng-class="{greyBckgrd : !isUserConnected}" ng-click="openModalCreationRecipe()"> {{displayButtonCreationRecipeType()}}</div> <!--creer nouveau plat-->
                </div>
                <div class="buttonsDisplayListRecipe">
                    <span ng-show="!isTablet()">Affichage : </span> &nbsp
                    <span ng-click="showInListFct()"  class="glyphicon glyphicon-align-justify gliphList glyphiconBtn"></span> <!--title=""-->
                    &nbsp-&nbsp
                    <span ng-click="showInBlockFct()" class="glyphicon glyphicon-th gliphBlock glyphiconBtn"></span></span><!--title=""-->
                </div>
                <div class="buttonsDisplayListColor">
                    <span ng-show="!isTablet()"> Couleur : </span>&nbsp
                    <select class="fieldRecipe fieldOrderBy"  ng-model='colorChoosen' ng-options='color.name for color in listColor' ng-change="updateBddColor(colorChoosen)" >
                    </select>
                </div>


                <div class="sortRecipeList" >
                    <span   class="glyphicon glyphicon-sort" ></span>
                    &nbsp
                    <select class="fieldRecipe fieldOrderBy"  ng-model='recipeOrderBy'  >
                        <option ng-repeat="orderby in listOrderBy" value="{{orderby.value}}">{{orderby.name}}</option>
                    </select>
                </div>
            </div>

            <!-- DEBUG ng-show="showDebug" ->
            <div ng-show="false" style="font-size: 18px; color:darkorange">
                <div style="font-weight: 800; border-bottom:1px solid grey">recipesToDisplay :</div><div ng-repeat="recipe in recipesToDisplay">{{recipe.name}}</div>
                <div style="font-weight: 800;border-bottom:1px solid grey">Recipe favorite :</div><div ng-repeat="recipe in recipesFavorite">{{recipe.name}}</div>
                <div style="font-weight: 800;border-bottom:1px solid grey">Recipe planning :</div><div ng-repeat="recipe in recipesPlanning">{{recipe.name}}</div>
            </div>
            -->
            <div  ng-controller="ModalRecipeFillPlanningCtrl">

                <div ng-show="!showInBlock" class="divRecipes" ng-repeat="recipe in recipesToDisplay | filter : search | orderBy: recipeOrderBy"
                     ng-class="{recipeWithNoDescr:!recipe.descriptionOpen}">
                    <!-- or :
                    <div ng-include="'../../partials/recipe/recipeItemDisplayNotOpenInList.html'"></div>
                    -->
                    <recipeitem-displayinlist></recipeitem-displayinlist>
                    <recipeitem-displayopen></recipeitem-displayopen>
                </div>

                <div ng-show="showInBlock" class="divRecipesBlock" ng-repeat="recipe in recipesToDisplay | filter : search | orderBy: recipeOrderBy "
                     ng-class="{divRecipesBlockIcon:!recipe.descriptionOpen, divRecipesBlockDescription:recipe.descriptionOpen}">

                    <recipeitem-displayinblock></recipeitem-displayinblock>
                    <recipeitem-displayopen></recipeitem-displayopen>
                </div>

            </div>
        </div>

    </article>



</div>