<article class="myArticle artRecipeCreation" ng-controller="RecipeCreationCtrl">

    <div class="myArticleHeading artHeadingRecipeCreation">
        <div class="myArticleTitle titleInlineBlock">Creation {{displayRecipeTypeName}}</div>
        <div class="rightInlineBlock">
            <a href="#/recipe/{{recipeTypeName}}" class="btn btn-warning">
                Revenir aux recettes
                &nbsp
                <span class="glyphicon glyphicon-share-alt "></span>
            </a> <!--creer nouveau plat-->

        </div>
    </div>


    <div class="myArticleBody">
        <form name="form" novalidate class="css-form">
            <div class="inlineBlock" style="vertical-align: top;">
            <div class="lineRecipeInit">
                <div class="">
                    <div class="">
                        <span class=""><span class="glyphicon glyphicon-tag"></span></span>
                        <input class="fieldRecipeCreation width400"
                               placeholder="Recipe name (max 20 char)"
                               type="text"
                               ng-model="recipe.name"
                               name="rName"
                               ng-maxlength="20"
                               required/>

                    </div>
                            <span ng-show="form.rName.$error.required && form.rName.$dirty">
                                Required
                            </span>

                    <!--
                    Nom recette :
                    <input class="fieldRecipeCreation nameRecipe"  type="text" ng-model ='recipe.name' placeholder="Nom recette" required />
                    -->
                </div>
                <div class="fieldRecipeCreationB">
                    <div class=" ">
                        <span class=""><span class="glyphicon glyphicon-cutlery"></span></span>
                        <span class=""> Pour </span>
                        <!-- class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span> -->
                        <input class="fieldRecipeCreation width50"
                               placeholder="4"
                               type="number"
                               ng-model="recipe.nbPerson"
                               name="nbPers"
                               ng-maxlength="20"
                               required/>
                        <span class=""> personnes </span>
                    </div>
                            <span ng-show="form.nbPers.$error.required && form.nbPers.$dirty">
                                Required
                            </span>
                    <!--
                    Nombre de personnes :
                    <input class="fieldRecipeCreation fieldRecipeCreationWidth" type="number" ng-model ='recipe.nbPerson' min="1" placeholder="Ex:4" required/>
                    -->
                </div>



            </div>
            <div class="lineTime">
                <div class="fieldRecipeCreationB">
                    <div class="">
                        <span class=""><span class="glyphicon glyphicon-time"></span></span>
                        <span class="">Preparation (min)</span>
                        <input class="fieldRecipeCreation width50"
                               placeholder="20"
                               type="number"
                               ng-model="recipe.timePreparation"
                               name="timePrep"
                               ng-maxlength="20"
                               required/>

                        <!-- <input class="fieldRecipeCreation fieldRecipeCreationWidth" type="number"
                                ng-model='recipe.timePreparation' min="0" step="5" required/> -->

                    </div>
                    <span ng-show="form.timePrep.$error.required && form.timePrep.$dirty">
                                Required
                    </span>
                </div>
                <div class="fieldRecipeCreationB">
                    <div class="">
                        <span class=""><span class="glyphicon glyphicon-fire"></span></span>
                        <span class="">Cuisson (min)</span>
                        <input class="fieldRecipeCreation width50"
                               placeholder="20"
                               type="number"
                               ng-model="recipe.timeCooking"
                               name="timeCook"
                               required/>
                        <!--
                        <input class="fieldRecipeCreation fieldRecipeCreationWidth" type="number"
                               ng-model='recipe.timeCooking' min="0" step="5" required/>
                        min
                        --
                    </div>
                </div>
            </div>

            <div class="lineSpeciality">
                <div class="form-group fieldRecipeCreationSpecilaity inlineBlock">
                    <div class="input-group ">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                        <select class="fieldRecipeCreation" ng-model='recipe.origin'
                                ng-options='origin.name for origin in origins'>
                            <option value="" disabled="disabled">Specialite</option>
                        </select><!--ng-model='originSelected' ng-init="originSelected=origins[4]"-->
                    </div>
                    <span ng-show="form.number.$error.required && form.number.$dirty">
                                Required
                    </span>
                </div>
            </div>



                <div class="">
                    <div class="fieldRecipeCreationB">
                        <span class=""><span class="glyphicon glyphicon-globe"></span></span>
                        Spécialités : &nbsp
                        <select class="fieldRecipeCreation width200" ng-model='recipe.origin' ng-init="recipe.origin = origins[0]"
                                ng-options='origin.name for origin in origins'>
                            <!--<option value="" disabled> Specialite</option>-->
                        </select><!--ng-model='originSelected' ng-init="originSelected=origins[4]"-->
                    </div>
                </div>

            </div>

            <div class="inlineBlock recipeCreationPics"style="vertical-align: top;">
                <form name="myForm">
                    <fieldset>
                        <span class=""><span class="glyphicon glyphicon-picture"></span></span>
                        Photo:
                        <input type="file" ngf-select ng-model="picFile" name="file"
                               accept="image/*" required>
                        <!--<img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">-->
                        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="recipeImg">
                        <!--<button ng-click="picFile = null" ng-show="picFile">Remove</button> -->
                        <br>
                        <!--<button ng-click="uploadPic(picFile)">Submit</button>-->
                <span class="progress" ng-show="picFile.progress >= 0">
                     <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                </span>
                        <span ng-show="picFile.result">Upload Successful</span>
                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                    </fieldset>
                    <br>
                </form>
            </div>

                <!---- ------------------------- CATEGORIE ----------------------------->
                <div class="fieldRecipeCreationB">
                    <div class="">
                        <span class=""><span class="glyphicon glyphicon-grain grainSize"></span></span>
                        <span class="">Categories </span>

                        <span ng-repeat="category in categories"
                              class="fieldRecipeCreationCategoryChoice checkbox checkbox-warning
                              checkbox-inline">
                        <input type="checkbox" ng-model="category.checked" id="{{category.id}}">
                        <label for="{{category.id}}">{{category.name}}</label>
                        </span>
                    </div>
                </div>


            <!---- ------------------------- INGREDIENTS - ---------------------------->
            <div class="fieldRecipeCreationB">

                    <span class=""><span class="glyphicon glyphicon-grain grainSize"></span></span>
                    <span class="">Ingrédients </span>


                <div class="">
                    <div class="inlineBlock">

                        <div class="rowIngredientInput myAddon lineIngredient"
                             ng-repeat="ingredient in recipe.ingredients ">
                            <input class="fieldRecipeCreation fieldRecipeCreationWidth" type="number"
                                   ng-model='ingredient.qty' min="0" step="{{unitStep(ingredient.unit)}}"
                                   placeholder="Ex: 50" required/>
                            <select class="fieldRecipeCreationUnit fieldRecipeCreation" ng-model='ingredient.unit'
                                    ng-options='unit for unit in units'></select>

                            <input class="fieldRecipeCreation nameFood" type="text" ng-model='ingredient.food.name'
                                   class="inputIngredientFoodName"
                                   ng-class="{backgroundRed:ingredient.food.id==0 , backgroundGreen:ingredient.food.id>0}"
                                   ng-focus="onFocusInputIngredient(ingredient)" ng-blur="onBlurInputIngredient()"
                                   ng-keyup="keyUpdateFilter(ingredient.food.name)" placeholder="aliment" required/>

                            <button type="button" class="myBtnEmpty myBtnEmptyRecipe btnMinusFilter"
                                    ng-click="removeRowIngredient($index,ingredient)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </div>

                        <button type="button" class="myBtnEmpty myBtnEmptyRecipe" ng-click="addRowIngredient()">
                            <span class="glyphicon glyphicon-plus littlePlus"></span>
                            <span class="txtFilter">INGREDIENT</span>
                        </button>
                    </div>

                </div>

                <div class="myBlockFoodProposition" ng-show="showFoods">
                    <div class="myBlockFoodPropositionTitle">Proposition(s) aliment(s)</div>
                        <span class="foodProposition"
                              ng-repeat="food in foods | filter : filterFood | orderBy : 'name'">
                            <button type="button" class="myBtnEmpty myBtnEmptyRecipe"
                                    ng-mousedown="fillUpIngrWithFood($index, $event, food) ">
                                <span class="txtFilter">{{food.name}}</span>
                            </button>
                        </span>
                </div>
            </div>


            <!---- ------------------------- DESCRIPTIONS - ---------------------------->

            <div class="fieldRecipeCreationB">
                <div class="inlineBlockAlignTop">
                    <span class=""><span class="glyphicon glyphicon-menu-hamburger"></span></span>
                    Préparation : &nbsp
                </div>

                <div class="">
                    <div class="inlineBlockAlignTop">
                        <div class="rowDescriptionInput myAddon"
                             ng-repeat="description in recipe.descriptions ">
                            <div class="inlineBlockAlignTop">
                                Etape {{description.numDescrip}}
                            </div>

                            <div class="inlineBlockAlignTop">
                            <textarea class="fieldRecipeCreation descriptArea" ng-model='description.name'
                                      placeholder="Etape n°{{description.numDescrip}}" rows="1"
                                      ng-keyup="pressEnterAreaDescrip($event)"></textarea>
                            </div>
                            <div class="inlineBlockAlignTop">
                                <button type="button" class="myBtnEmpty myBtnEmptyRecipe btnMinusFilter"
                                        ng-click="removeDescription($index,ingredient)">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </div>
                        </div>

                        <button type="button" class="myBtnEmpty myBtnEmptyRecipe" ng-click="addDescription()">
                            <span class="glyphicon glyphicon-plus littlePlus"></span>
                            <span class="txtFilter">ETAPE DESCRIPTION</span>
                        </button>

                    </div>
                </div>
            </div>

            <div class="fieldRecipeCreationB">
             <span class="radio radio-warning radio-inline ">
                    <input type="radio" ng-model="recipe.isPublic" ng-value="true"
                           checked="checked" id="public1">
                    <label for="public1">
                        publique
                    </label>
                </span>
                <span class="radio radio-warning radio-inline">
                    <input type="radio" ng-model="recipe.isPublic" ng-value="false"
                           checked="checked" id="private1">
                    <label for="private1">
                        privée
                    </label>
                </span>
            </div>

            <!--
            $scope.publicOrNots = [{id:"public1", name:"publique", value:true},{id:"private1", name:"privée", value:false} ]
            <span  ng-repeat="publicornot in publicOrNots" class="radio radio-warning radio-inline">
                <input type="radio" ng-model="recipe.isPublic" ng-value="publicornot.value"
                       checked="checked" id="{{publicornot.id}}">
                <label for="{{publicornot.id}}">
                    {{publicornot.name}}
                </label>
            </span>-->

            <br>

            <!--<input type="submit" class="btn btn-warning" value="Créer {{recipe.name}}" ng-click="createRecipe()" />-->
            <!--
            <a class="btn  btn-success btn-block" type="submit" ng-click="createRecipe()"
               ng-disabled="form.$invalid"> Créer votre
                recette {{recipe.name}}
            </a>
            -->


            <button type="submit" class="butonCreateRecipe btn btn-warning btn-block" ng-click="createRecipe()"
                    ng-disabled="form.$invalid || form.$pending">
                Créer votre recette {{recipe.name}}
            </button>
        </form>



    </div>


    <!-- DEBUG -->
    <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
        <div>
            SPECIALITE :::
            <div> {{recipe.origin}}</div>
            CATEGORIES :::
            <div ng-repeat="category in recipe.categories ">
                {{category}}
            </div>
        </div>
        <div>
            INGREDIENTS :::
            <div ng-repeat="ingredient in recipe.ingredients ">
                {{ingredient}}
            </div>
        </div>
        <div>
            DESCRIPTIONS :::
            <div ng-repeat="description in recipe.descriptions ">
                {{description}}
            </div>
        </div>
        <br>
        <br>
        <div>
            RECIPE :::
            {{recipe}}
        </div>
    </div>
</article>