<div ng-show="!recipe.descriptionOpen" ng-click="toggleDescOpen(recipe)">
    <div class="pixRecipeBlock" style="background-image:url('../images/{{recipe.recipeType.nameType}}/{{recipe.pixName}}'),url('../../images/no-image.png') ;"> </div>
    <div class="titleAndSoBlock" >
        <span class="titleBlock" title="{{recipe.name}}"> {{recipe.name}} </span>

        <div class="glyphiconsBlock">

            <span  ng-click="toggleIsFavorite(recipe, $event);"  class="glyphicon glyphicon-heart heart glyphiconBtn"
                   title="" ng-class="{heartTaken: recipe.isFavorite}"></span>
            &nbsp
            <span ng-click="toggleIsForPlanning(recipe, $event);" class="glyphicon glyphicon-pushpin thList glyphiconBtn"
                  title=""   ng-class="{thListTaken: recipe.isForPlanning}"></span>
            &nbsp
            <span ng-click="openRecipeNewWindow(recipe.id)" title="" class="glyphicon glyphicon-new-window newWindow glyphiconBtn"></span>
        </div>
    </div>
</div>