<section ng-controller="RecipeCtrl">

    <div class="titleRecipe contourTxt"><h2 class="myH2">Recettes : {{displayRecipeType()}}</h2></div> <!-- titleRecipe initilisee -->


    <!-- AVANT entre plat dessert... tout en haut -- tt FONCTIONNE niquel avec le css etc
    <div class="divRecipesType">

        <button  ng-click="changeRecipeType('accueil')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeType"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('accueil')}">
            Accueil
        </button>
        <button  ng-click="changeRecipeType('starter')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeType"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('starter')}">
            Entrees
        </button>
        <button  ng-click="changeRecipeType('course')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeType"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('course')}">
            Plats
        </button>
        <button  ng-click="changeRecipeType('dessert')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeType"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('dessert')}">
            Desserts
        </button>
        <button  ng-click="changeRecipeType('breakfast')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeType"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('breakfast')}">
            Dej- Goûters
        </button>
        <button  ng-click="changeRecipeType('cocktail')" type="button" class="myBtnEmpty myBtnEmptyRecipe myBtnRecipeType noMarginRight"
                 ng-class="{myBtnRecipeTypeFull : isRecipeTypeSelected('cocktail')}">
            Cocktails
        </button>
    </div>
    -->


    <div ng-show="recipeType != 'accueil'" ng-controller="FilterCtrl"  >
        <recipe-filter></recipe-filter>
        <recipe-list></recipe-list>
    </div>


</section >
