<div ng-show="recipe.descriptionOpen" class="recipeWithDescrip" ng-click="toggleDescOpen(recipe)"  >
    <div class="headingRecipeWithDescrip" >{{recipe.name}}
        &nbsp&nbsp <span  ng-click="toggleIsFavorite(recipe, $event);" title=""   class="glyphicon glyphicon-heart heart glyphiconBtn"
                          ng-class="{heartTaken: recipe.isFavorite}"></span>
        &nbsp&nbsp <span ng-click="toggleIsForPlanning(recipe, $event);" title="" class="glyphicon glyphicon-pushpin thList glyphiconBtn"
                         ng-class="{thListTaken: recipe.isForPlanning}"></span>
        &nbsp
        <span ng-click="openRecipeNewWindow(recipe.id)" title="" class="glyphicon glyphicon-new-window newWindow glyphiconBtn"></span>
    </div>
    <div class="bodyRecipeWithDescrip">
        <div class="divTopRecipe">
            <div class="divTopRecipeLeft" >
                <div class="subTitleRecipeOpen">Temps total : {{displayTime(recipe.timeCooking+recipe.timePreparation)}}</div>
                <div class="divPreparationCooking">
                    <div class="inlineBlockAlignTop">Preparation : {{displayTime(recipe.timePreparation)}}</div> &nbsp &nbsp
                    <div class="inlineBlockAlignTop">Cuisson : {{displayTime(recipe.timeCooking)}}</div>
                </div>
            </div>

            <div class="divTopRecipeRight">


                <div class="divRatingStar" ng-show="!recipe.ratingSystem.isUserEditing" title="{{displayRatingOfRecipeByTitle(recipe)}}" ng-click="stopPropag($event)">
                    <span ng-repeat="numStar in [1,2,3,4,5] track by $index"
                          class="stars glyphicon" ng-class="{'glyphicon-star' : isStarFull(numStar, recipe.rating),
                                                       'glyphicon-star-empty' : !isStarFull(numStar, recipe.rating),
                                                       'starEmpty' : !isStarFull(numStar, recipe.rating)}">
                    </span>
                    <span ng-show="recipe.ratingUser==0" ng-click="toggleEditingRate(recipe, $event)" class="glyphicon glyphicon-pencil pencilRatingEdit" title=""></span>
                    ({{recipe.nbVoter}} votes)
                </div>


                <div class="divRatingStar" ng-show="recipe.ratingSystem.isUserEditing">
                    <span ng-repeat="starEdit in recipe.ratingSystem.starsEdit track by $index" ng-click="validateRatingUser($index, recipe, $event)"
                          ng-mouseover="editRatingUser($index, recipe.ratingSystem.starsEdit)"
                          class="starsEditing glyphicon" ng-class="{'glyphicon-star' : starEdit, 'glyphicon-star-empty' : !starEdit, starEmpty:!starEdit}">
                    </span>
                    <span ng-click="toggleEditingRate(recipe, $event)" class="glyphicon glyphicon-pencil pencilRatingCancel" title=""></span>

                </div>

                <!--<input style="color:black" type="int" ng-model="recipe.rating">
                ratingUser : {{recipe.ratingUser}} <br>
                rating : {{recipe.rating}}<br>
                nbVoter : {{recipe.nbVoter}}<br>


                <br>
                isUserEditRating : {{isUserEditRating}}
                <br>
                ratingUserEdit : {{ratingUserEdit}}
                <br>
                <div ng-show="recipe.ratingUser == 0" >
                    VOTE AVAILABLE
                    <span ng-repeat="numStar in [1,2,3,4,5] track by $index" ng-mouseover="hoverStar(numStar)">
                        <span class="glyphicon " ng-class="{'glyphicon-star' : isStarFull(numStar, recipe.rating), 'glyphicon-star-empty' : !isStarFull(numStar, recipe.rating)}"> </span>
                    </span>
                </div>
                <div ng-show="recipe.ratingUser == 0">
                    VOTE AVAILABLE
                    <span ng-repeat="numStar in [1,2,3,4,5] track by $index" ng-mouseover="hoverStar(numStar)">
                        <span class="glyphicon " ng-class="{'glyphicon-star' : isStarFull(numStar, recipe.rating), 'glyphicon-star-empty' : !isStarFull(numStar, recipe.rating)}"> </span>
                    </span>
                </div>
                <div ng-show="recipe.ratingUser > 0">
                    NO VOTE
                </div>
                -->
            </div>
        </div>
        <div class="divMiddleRecipe">
            <div class="pixRecipeWithDescrip" style="background-image:url('../images/course/{{recipe.pixName}}'),url('../../images/no-image.png') ;">
            </div>

            <div class="ingredientRecipe">
                <div class="subTitleRecipeOpen"> Ingrédients ({{recipe.nbPerson}} pers.) </div>
                <ul ng-repeat="ingr in recipe.ingredients">
                    <li > <span>{{ingr.qty}}</span>{{ingr.unit}}  <span>{{ingr.food.name}}</span> </li>
                </ul>
            </div>
        </div>

        <div class="preparationRecipe">
            <div class="subTitleRecipeOpen"> Préparation</div>
            <div ng-repeat="descript in recipe.descriptions | orderBy: '+numDescrip' "> <!-- + is by default -->
                {{descript.numDescrip}} - {{descript.name}}
            </div>
        </div>
    </div>
    <div class="footerRecipeWithDescrip" >
        <div ng-show="recipe.isPublic" class="footerRecipePublic ">
            <span class="glyphicon glyphicon glyphicon-cloud"></span>
            by {{recipe.user.pseudo}}
        </div>

        <div ng-show="!recipe.isPublic" class="footerRecipePrivate ">
            <span class="glyphicon glyphicon glyphicon-lock"></span>
            recette privée
        </div>
    </div>
</div>