<div ng-show="!recipe.descriptionOpen" ng-click="toggleDescOpen(recipe)">

    <div class="pixRecipeNoDescription" style="background-image:url('../images/{{recipeType}}/{{recipe.pixName}}'),url('../../images/no-image.png') ;"> </div>
    <div class="titleAndSoNoDescription">
        <div class="title"> {{recipe.name}} </div>

        <!-- DEBUG -->
        <div ng-show="showDebug" style="font-size: 15px; color:darkorange;  ">
            ({{recipe.origin}})
            <br>
            <div ng-repeat="category in recipe.categories">
                {{category}}
            </div>
            <div ng-repeat="ingr in recipe.ingredients" style="position: relative;float: right;">
                {{ingr.food}}-
            </div>
        </div>


        <span  ng-click="toggleIsFavorite(recipe, $event);" title=""   class="glyphicon glyphicon-heart heart glyphiconBtn"
               ng-class="{heartTaken: recipe.isFavorite}"></span>
        &nbsp&nbsp
        <span ng-click="toggleIsForPlanning(recipe, $event);" title="" class="glyphicon glyphicon-pushpin thList glyphiconBtn"
              ng-class="{thListTaken: recipe.isForPlanning}"></span>
        &nbsp
        <span ng-click="openRecipeNewWindow(recipe.id)" title="" class="glyphicon glyphicon-new-window newWindow glyphiconBtn"></span>
    </div>

    <div class="divTimeNoDescription">
        <!--<div class="timeTotalNoDescrip">Temps total : {{displayTime(recipe.timeCooking+recipe.timePreparation)}}</div>-->
        <div class="divPreparationCooking">
            <div>Preparation : {{displayTime(recipe.timePreparation)}}</div>
            <div>Cuisson : {{displayTime(recipe.timeCooking)}}</div>
            <div>Spécialité : {{recipe.origin.name}}</div>
        </div>
    </div>

    <div class="divRatingAndOwner">

        <div class="divRatingStarNoDescrip" title="{{displayRatingOfRecipeByTitle(recipe)}}">
                    <span ng-repeat="numStar in [1,2,3,4,5] track by $index"
                          class="starsNoDescrip glyphicon" ng-class="{'glyphicon-star' : isStarFull(numStar, recipe.rating),
                                                       'glyphicon-star-empty' : !isStarFull(numStar, recipe.rating),
                                                       'starEmpty' : !isStarFull(numStar, recipe.rating)}">
                    </span>
            <br>({{recipe.nbVoter}} votes)
        </div>
        <div class="divOwner">
            <div ng-show="recipe.isPublic" class="divOwnerRecipePublic ">
                <span class="glyphicon glyphicon glyphicon-cloud"></span>
                by {{recipe.user.pseudo}}
            </div>

            <div ng-show="!recipe.isPublic" class="divOwnerRecipePrivate ">
                <span class="glyphicon glyphicon glyphicon-lock"></span>
                recette privée
            </div>
        </div>

    </div>
</div>