
<div id="filterRecipe"  ng-class="{navRecipeFixed:boolNavFixed}"> <!-- scroll directive was here -->



    <!--
    ----------------------------------------------------------------------------------------------------------
    -------------------------   MA SELECTION   ---------------------------------------------------------------
    ----------------------------------------------------------------------------------------------------------
    -->
    <article  class="myArticle artRecipeMySelection" > <!-- class="panel panel-default" style=" overflow: auto;"  -->

        <div class="myArticleHeading">
            <div class="myArticleTitle titleInlineBlock">Ma Selection</div>
            <div class="rightInlineBlock"><span ng-click="emptyFilterSelection()" class="glyphicon glyphicon-trash trashFilterRecipe glyphiconBtn" ></span></div>
        </div>

        <div class="myArticleBody artBodyRecipeMySelection">


            <!--
            <button ng-click="buttonRestTxtPost()">ICI on lance le POSTtxt</button>
            <button ng-click="buttonRestObjTestPost()">On lance le POST objTest</button>
            <!--
            Bonjour
            <br><br>
            ici mon mot : {{wordFct()}}
            <br>
            ici mon mot : {{word}}
            <br><br>
            Aurevoir
            -->
                <div class="divSubSelection recipeMySelectionFavoriteOrPlanning" ng-repeat="myList in filterMySelection.myLists | orderBy:'name'">
                     - {{myList.name}} &nbsp
                    <span ng-show="isRecipeFavorite(myList.id)" class="glyphicon glyphicon-heart heartNoBtn"></span>
                    <span ng-show="isRecipePlanning(myList.id)" class="glyphicon glyphicon-pushpin thListNoBtn"></span>
                    &nbsp
                    <button  type="button" class="myBtnEmpty myBtnEmptyRecipe btnMinusFilter" ng-click="removeMyListFromSelection(myList)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
                <div class="separatorSelection" ng-show="separateMyList()"></div>
                <div class="divSubSelection" ng-repeat="userName in filterMySelection.users | orderBy:'toString()'">

                    <span class="txtTitleSelection">- Utilisateur :</span> {{userName}} &nbsp
                    <button  type="button" class="myBtnEmpty myBtnEmptyRecipe btnMinusFilter" ng-click="removeUserFromSelection(userName)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
                <div class="separatorSelection" ng-show="separateUser()"></div>
                <div class="divSubSelection" ng-repeat="ingredientName in filterMySelection.ingredients | orderBy:'toString()'">

                    <span class="txtTitleSelection">- Ingredient :</span> {{ingredientName}} &nbsp
                    <button  type="button" class="myBtnEmpty myBtnEmptyRecipe btnMinusFilter" ng-click="removeIngredientFromSelection(ingredientName)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>

                    <!-- old
                    <button  type="button" class="myBtnEmpty myBtnEmptyRecipe" >
                        <span class="glyphicon glyphicon-minus littlePlus" ></span>
                        <span class="txtTitleSelection">Ingredient :</span> <span class="txtSelection" >{{ingredientName}}</span>
                    </button>
                    -->

                </div>
                <div class="separatorSelection" ng-show="separateIngredient()"></div>
                <div class="divSubSelection" ng-repeat="category in filterMySelection.categories | orderBy:'toString()'">

                    <span class="txtTitleSelection">- Categorie :</span> {{category.name}} &nbsp
                    <button  type="button" class="myBtnEmpty myBtnEmptyRecipe btnMinusFilter" ng-click="removeCategoryFromSelection(category)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <!--<button-selection filter-type="Categorie :" mybtn-emptysection="myBtnEmptyRecipe">{{category}}</button-selection>-->
                </div>
                <div class="separatorSelection" ng-show="separateCategorie()"></div>
                <div class="divSubSelection" ng-repeat="origin in filterMySelection.origins | orderBy:'toString()'">
                    <span class="txtTitleSelection">- Spécialité :</span> {{origin.name}} &nbsp
                    <button  type="button" class="myBtnEmpty myBtnEmptyRecipe btnMinusFilter" ng-click="removeOriginFromSelection(origin)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <!--<button-selection filter-type="Spécialité :" mybtn-emptysection="myBtnEmptyRecipe">{{origin}}</button-selection>-->
                </div>
        </div>
    </article>




    <!--
    ----------------------------------------------------------------------------------------------------------
    -------------------------   AFFINER RECHERCHE   ----------------------------------------------------------
    ----------------------------------------------------------------------------------------------------------
    -->
    <article  class="myArticle"  style=" overflow: auto;">

        <div class="myArticleHeading">
            <div class="myArticleTitle">Affiner la recherche</div>
        </div>



        <div class="myArticleBody">

            <div class="divSubFilter divSubFilterTop" ng-show="filterSearch.myLists.length > 0">
                <div class="txtTitleSubFilter" >Mes listes</div>
                <div class="divSubSelection" ng-repeat="myList in filterSearch.myLists | orderBy:'name'" ng-click="moveMyListToSelection(myList)">
                    <button-filter mybtn-emptysection="myBtnEmptyRecipe">
                        {{myList.name}}
                        <span ng-show="isRecipeFavorite(myList.id)" class="glyphicon glyphicon-heart heartNoBtn"></span>
                        &nbsp
                        <span ng-show="isRecipePlanning(myList.id)" class="glyphicon glyphicon-pushpin thListNoBtn"></span>
                    </button-filter>
                </div>
            </div>


            <!-- Filter with ingredient! -CSS perfect- we need to add this module and make it work within the filter function (of ctrl) -->

            <div class="divSubFilter">
                <div class="txtTitleSubFilter" ng-class="{divSubFilterTop: filterSearch.myLists.length  == 0}">Filtrer avec utilisateur</div>
                <div>
                    <span class="txtFilter">
                        <input class="inputRecipe" type="text" ng-model ='userName' placeholder="utilisateur" ng-keyup="pressEnterInputUserFilter($event, userName)" />
                    </span>
                    <button  type="button" class="myBtnEmpty myBtnEmptyRecipe btnPlusFilter" ng-click="moveUserToSelection(userName)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <div class="divSubFilter">
                <div class="txtTitleSubFilter">Filtrer avec ingrédients</div>
                <div>
                    <span class="txtFilter">
                        <input class="inputRecipe" type="text" ng-model ='ingredientName' placeholder="ingredient" ng-keyup="pressEnterInputIngredientFilter($event, ingredientName)" />
                    </span>
                    <button type="button" class="myBtnEmpty myBtnEmptyRecipe btnPlusFilter" ng-click="moveIngredientToSelection(ingredientName)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>


            <div class="divSubFilter">
                <div class="txtTitleSubFilter" >Categories recettes</div>
                <div class="elemCategorieVrac" ng-repeat="category in filterSearch.categories | orderBy:'-numRank'"
                     ng-click="moveCategoryToSelection(category)" ng-show="$index < 5">
                    <button-filter mybtn-emptysection="myBtnEmptyRecipe">{{category.name}}</button-filter>
                </div>
                <!-- BTN for POPOVER --->
                <div ng-show="filterSearch.categories.length > 5 " class="fieldRecipeMoreCategories cursorPointer"
                     uib-popover-template="'myPopoverTemplateMoreCategories.html'" popover-trigger="outsideClick" popover-placement="right">
                    Voir plus...
                    <!--popover--> <script type="text/ng-template" id="myPopoverTemplateMoreCategories.html">
                                        <div ng-repeat="category in filterSearch.categories | orderBy:'-numRank'" ng-show="$index >= 5" ng-click="moveCategoryToSelection(category)">
                                            <button-filter mybtn-emptysection="myBtnEmptyRecipe">{{category.name}}</button-filter>
                                        </div>
                                    </script>
                </div>
                <!-- end BTN for POPOVER --->
            </div>
            <div class="divSubFilter">
                <div class="txtTitleSubFilter" >Spécialitésee</div>
                <div class="elemCategorieVrac" ng-repeat="origin in filterSearch.origins | orderBy:'-numRank'"
                     ng-click="moveOriginToSelection(origin)" ng-show="$index < 5"><!--class="elemColonneX2" before - worked well -->
                    <button-filter mybtn-emptysection="myBtnEmptyRecipe">{{origin.name}}</button-filter>
                </div>
                <!-- BTN for POPOVER --->
                <div ng-show="filterSearch.origins.length > 5 " class="fieldRecipeMoreCategories cursorPointer"
                     uib-popover-template="'myPopoverTemplateMoreSpecialities.html'" popover-trigger="outsideClick" popover-placement="right">
                    Voir plus...
                    <!--popover--> <script type="text/ng-template" id="myPopoverTemplateMoreSpecialities.html">
                                        <div ng-repeat="origin in filterSearch.origins | orderBy:'-numRank'" ng-show="$index >= 5" ng-click="moveOriginToSelection(origin)">
                                            <button-filter mybtn-emptysection="myBtnEmptyRecipe">{{origin.name}}</button-filter>
                                        </div>
                                    </script>
                </div>
                <!-- end BTN for POPOVER --->
            </div>
        </div>
    </article>



</div>
