<div ng-show="recipe.descriptionOpen" class="" ng-click="toggleDescOpen(recipe)" ng-class="{recipeWithDescripOrange:colorChoosen.value=='orange',
                                            recipeWithDescripSimple:colorChoosen.value=='white', recipeWithDescripBlackSlate:colorChoosen.value=='black'}">

    <div class="headingRecipeWithDescrip" >{{recipe.name}}
        &nbsp&nbsp
        <span  ng-click="toggleIsFavorite(recipe, $event);" class="glyphicon glyphicon-heart heart glyphiconBtn" ng-class="{heartTaken: recipe.isFavorite}"></span> <!--title=""-->
        &nbsp
        <span ng-click="toggleIsForPlanning(recipe, $event);" class="glyphicon glyphicon-pushpin thList glyphiconBtn" ng-class="{thListTaken: recipe.isForPlanning}"></span>
        &nbsp
        <span ng-click="openRecipeNewWindow(recipe.id)" class="glyphicon glyphicon-new-window newWindow glyphiconBtn"></span>
        &nbsp
        <span ng-click="openModalRecipeFillPlanning(recipe, $event)" class="glyphicon glyphicon glyphicon-th-list modalFillPlanning glyphiconBtn"></span>
    </div>
    <div class="bodyRecipeWithDescrip">
        <div class="divTopRecipe">
            <div class="divTopRecipeLeft subTitleRecipeOpen" >
                <div class="divTopRecipeLeftLeft">
                    <div >Temps total : {{displayTime(recipe.timeCooking+recipe.timePreparation)}}</div>
                    <div class="divTime">
                        <span class="glyphicon glyphicon-time"></span> : {{displayTime(recipe.timePreparation)}}  -
                        <span class="glyphicon glyphicon-fire"></span> :  {{displayTime(recipe.timeCooking)}}
                    </div>
                    <!--<div class="divPreparationCooking">
                        <div class="inlineBlockAlignTop">Preparation : {{displayTime(recipe.timePreparation)}}</div> &nbsp &nbsp
                        <div class="inlineBlockAlignTop">Cuisson : {{displayTime(recipe.timeCooking)}}</div>
                    </div>-->
                </div>
                <div class="divTopRecipeLeftRight">
                    <div class="divCategoryRecipeOpen fieldRecipeCategory cursorPointer" ng-class="{fieldRecipeBorderWhite:colorChoosen.value=='black'}" ng-click="stopPropag($event)"
                         uib-popover-template="'myPopoverTemplateCategories.html'" popover-trigger="outsideClick" popover-placement="bottom">
                        <span class="glyphicon glyphicon-tags"></span> &nbsp Catégories
                        <!--popover--> <script type="text/ng-template" id="myPopoverTemplateCategories.html">
                                            <div ng-repeat="category in recipe.categories" style="color:darkslategrey">{{category.name}}</div>
                                        </script>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-globe"></span> : {{recipe.origin.name}}
                    </div>
                </div>

            </div>

            <!---------- DIV RATING ----------->
            <div class="divTopRecipeRight" ng-mouseover="recipe.onOverRating = true;" ng-mouseleave="recipe.onOverRating = false;">
                <!-- div display rating -->
                <div class="divRatingStar" ng-show="recipe.ratingUser>0 || !recipe.onOverRating" title="{{displayRatingOfRecipeByTitle(recipe)}}" ng-click="stopPropag($event)"
                     uib-popover-template="'myPopoverTemplateRatingInfo.html'" popover-trigger="mouseenter" popover-placement="bottom"><!--ng-show="!recipe.ratingSystem.isUserEditing"-->
                    <span ng-repeat="numStar in [1,2,3,4,5] track by $index" class="stars glyphicon" ng-class="{'glyphicon-star' : isStarFull(numStar, recipe.rating),
                                                      'glyphicon-star-empty' : !isStarFull(numStar, recipe.rating), 'starEmpty' : !isStarFull(numStar, recipe.rating)}">
                    </span>
                    <!--popover-->
                    <script type="text/ng-template" id="myPopoverTemplateRatingInfo.html">
                        <div style="color:darkslategrey">Note moyenne : {{recipe.rating}}</div>
                        <div style="color:darkslategrey">Ma note : {{displayRatingUser(recipe)}}</div>
                    </script>
                    <!--<span ng-show="recipe.ratingUser==0" ng-click="toggleEditingRate(recipe, $event)" class="glyphicon glyphicon-pencil pencilRatingEdit" title=""></span>-->
                    <span class="divRatingStarNbVote">({{recipe.nbVoter}} votes)</span>
                </div>
                <!-- div editing rating -->
                <div class="divRatingStar" ng-show="recipe.ratingUser==0 && recipe.onOverRating">
                    <!-- for DESKTOP -->
                    <span ng-show="!isTablet()" ng-repeat="starEdit in recipe.ratingSystem.starsEdit track by $index" ng-click="validateRatingUser($index, recipe, $event)"
                          ng-mouseover="editRatingUser($index, recipe.ratingSystem.starsEdit)"
                          class="starsEditing glyphicon" ng-class="{'glyphicon-star' : starEdit, 'glyphicon-star-empty' : !starEdit, starEmpty:!starEdit}">
                    </span>
                    <!-- for TABLET -->
                    <span ng-show="isTablet()" ng-repeat="starEdit in recipe.ratingSystem.starsEdit track by $index" ng-click="validateRatingUser($index, recipe, $event)"
                          ng-mouseover="editRatingUser($index, recipe.ratingSystem.starsEdit)"
                          class="starsEditing glyphicon glyphicon-star-empty" >
                    </span>
                    <!--<span ng-click="toggleEditingRate(recipe, $event)" class="glyphicon glyphicon-pencil pencilRatingCancel" title=""></span>-->
                    <span class="divRatingStarNbVote">({{recipe.nbVoter}} votes)</span>
                </div>
            </div>
        </div>
        <div class="divMiddleRecipe">
            <div class="pixRecipeWithDescrip" style="background-image:url('../images/{{recipe.recipeType.nameType}}/{{recipe.pixName}}'),url('../../images/no-image.png') ;">
            </div>

            <div class="ingredientRecipe">
                <div class="subTitleRecipeOpen"> Ingrédients ({{recipe.nbPerson}} pers.) </div>
                <ul ng-repeat="ingr in recipe.ingredients">
                    <li > <span>{{ingr.qty}}</span>{{ingr.unit}}  <span>{{ingr.food.name}}</span> </li>
                </ul>
            </div>
        </div>

        <div class="preparationRecipe">
            <div class="subTitleRecipeOpen"> Préparation</div>
            <div ng-repeat="descript in recipe.descriptions | orderBy: '+numDescrip' "> <!-- + is by default -->
                {{descript.numDescrip}} - {{descript.name}}
            </div>
        </div>
    </div>
    <div class="footerRecipeWithDescrip" >
        <div ng-show="recipe.isPublic" class="footerRecipePublic ">
            <span class="glyphicon glyphicon glyphicon-cloud"></span>
            by {{recipe.user.pseudo}}
        </div>

        <div ng-show="!recipe.isPublic" class="footerRecipePrivate ">
            <span class="glyphicon glyphicon glyphicon-lock"></span>
            recette privée
        </div>
    </div>
</div>