<div ng-show="recipe.descriptionOpen" class="recipeWithDescrip" ng-click="toggleDescOpen(recipe)"  >
    <div class="titleOfDescrip" >{{recipe.name}}  ({{recipe.nbPerson}} pers.)
        &nbsp&nbsp <span  ng-click="toggleIsFavorite(recipe, $event);" title=""   class="glyphicon glyphicon-heart heart glyphiconBtn"
                          ng-class="{heartTaken: recipe.isFavorite}"></span>
        &nbsp&nbsp <span ng-click="toggleIsForPlanning(recipe, $event);" title="" class="glyphicon glyphicon-th-list thList glyphiconBtn"
                         ng-class="{thListTaken: recipe.isForPlanning}"></span>
        &nbsp
        <span ng-click="openRecipeNewWindow(recipe.id)" title="" class="glyphicon glyphicon-new-window newWindow glyphiconBtn"></span>
    </div>

    <div class="divTopRecipe">
        <div class="pixRecipeWithDescrip" style="background-image:url('../images/course/{{recipe.pixName}}'),url('../../images/no-image.png') ;">
        </div>

        <div class="ingredientRecipe">
            <div class="subTitleOfDescrip"> Ingrédients </div>
            <ul ng-repeat="ingr in recipe.ingredients">
                <li > <span>{{ingr.qty}}</span>{{ingr.unit}}  <span>{{ingr.food}}</span> </li>
            </ul>
        </div>
    </div>

    <div class="preparationRecipe">
        <div class="subTitleOfDescrip"> Préparation</div>
        <div> {{recipe.description}} </div>
    </div>
</div>