<section class="section" ng-controller="SingleRecipeCtrl">

    <div ng-show="showRecipe" >
        <h3 class="titleRecipeSingle">{{recipe.name}}  ({{recipe.nbPerson}} pers.)</h3>

        <div class="divRecipeSingle">
            <div class="divTopRecipeSingle">
                <div class="pixRecipeSingle" style="background-image:url('../images/{{recipe.recipeType.nameType}}/{{recipe.pixName}}'),url('../../images/no-image.png') ;"> </div>

                <div class="ingredientRecipeSingle">
                    <div class="subTitleSingle"> Ingrédients </div>
                    <ul ng-repeat="ingr in recipe.ingredients">
                        <li > <span>{{ingr.qty}}</span>{{ingr.unit}}<span></span> <span>{{ingr.food.name}}</span> </li>
                    </ul>
                </div>
            </div>


            <div class="preparationRecipeSingle">
                <div class="subTitleSingle"> Préparation</div>
                <div ng-repeat="descript in recipe.descriptions | orderBy: '+numDescrip' "> <!-- + is by default -->
                    {{descript.numDescrip}} - {{descript.name}}
                </div>
            </div>
        </div>
    </div>

    <div ng-show="!showRecipe">
        <h3>Recette inexistante ou Privée</h3>
    </div>
</section >


