<div>

    <div class="modal-header">
        <h4 class="modal-title" >Choisir une case du planning pour insérer la recette : <span class="colorRed">{{recipeModal.name}}</span></h4>
    </div>

    <div class="modal-body" ><!--style="color:black; height: 700px;" -> height fonctionne à voir qd bcp recettes-->




        <article class="myArticle myArticlePlanning" ng-show="plannings.length > 0">
            <div class="myArticleHeading">
                <div class="myArticleTitle">
                    PLANNING : &nbsp
                    <select class="fieldPlanning noWidth" ng-model='currentPlanning' ng-options='planning.name for planning in plannings'></select>
                </div>
            </div>



            <div class="myArticleBody">
                <div ng-controller="PlanningModalCaseMealCtrl">
                    <table class="table  table-hover table-bordered">
                        <th class="info myTh"></th>
                        <th class="info myTh">Lundi</th>
                        <th class="info myTh">Mardi</th>
                        <th class="info myTh">Mercredi</th>
                        <th class="info myTh">Jeudi</th>
                        <th class="info myTh">Vendredi</th>
                        <th class="info myTh">Samedi</th>
                        <th class="info myTh">Dimanche</th>

                        <tr ng-repeat="weekMeal in currentPlanning.weekMeals" ng-show="weekMeal.show">

                            <th class="info myTh" style="height:80px; width:9%; vertical-align:middle">
                                {{displayMealType(weekMeal.weekMealName)}}
                            </th>

                            <td ng-repeat="caseMeal in weekMeal.caseMeals" class="tdCaseMeal" ng-click="chooseCaseMeal(caseMeal)">

                                <div ng-show="caseMeal.recipes.length > 0 && showNbPers" class="nbPers">
                                    {{caseMeal.nbPers}} pers.
                                </div>

                                <span ng-show="showDebug" style="font-size: 18px; color:darkorange">id caseMeal : {{caseMeal.id}}</span>

                                <div ng-repeat="recipe in caseMeal.recipes  track by $index " class="divRecipeNameModalFillPlanning" ng-class="{colorRed : recipeModal.id == recipe.id}" >
                                    {{recipe.name}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- DEBUG -->
                <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
                    <div ng-repeat="recipe in currentPlanning.weekMeals[1].caseMeals[0].recipes" >
                        {{recipe.name}}
                    </div>
                </div>


                <div>
                    <div style="display:inline-block">
                        <div>
                            <span>Afficher / Cacher : &nbsp&nbsp&nbsp&nbsp</span>
                        <span ng-repeat="weekMeal in currentPlanning.weekMeals"
                              class="checkbox checkbox-info checkbox-inline">
                            <input type="checkbox" ng-model="weekMeal.show" id="{{weekMeal.id}}">
                            <label for="{{weekMeal.id}}"><b>{{displayMealType(weekMeal.weekMealName)}}</b>
                                &nbsp&nbsp</label>
                        </span>
                        </div>
                        <div>
                            <span class="checkbox checkbox-info checkbox-inline">
                                <input type="checkbox" ng-model="showNbPers" id="idShowPers">
                                <label for="idShowPers">Voir pour chaque repas</label>
                            </span>
                        </div>
                        <div ng-show="showHelp" style="font-size: 18px; color:cornflowerblue">
                            <div>Apres avoir choisi le nombre de personne global, il est possible de le modifier pour un
                                repas en particulier : cocher "afficher nb pers." puis modifier directement le nb dans
                                le repas ou y faire glisser le nb ci-dessous
                            </div>
                        </div>
                    </div>

                    <!-- DEBUG -->
                    <div ng-show="showDebug" style="font-size: 18px; color:darkorange">
                            <span class="checkbox checkbox-success checkbox-inline">
                                     <input type="checkbox" ng-model="dataDropTrash" id="dataDropTrashId">
                                     <label for="dataDropTrashId">Trash Droppable ?</label>
                            </span> droppable ? : {{dataDropTrash}}
                    </div>
                </div>
            </div>
        </article>

        <div ng-show="plannings.length == 0">Veuillez créer un planning dans l'onglet "Plannings"</div>

    </div>

    <div class="modal-footer">
        <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
        <button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
    </div>

</div>